@import 'mixins';

/* Outfit 97 - Treasure hunter gear */
#outfit105_backarm_upperhalf {
  background-position: 0px 0px;
}

#outfit105_backleg_foot {
  background-position: $vg_backleg_foot_x 0px;
}

#outfit105_frontleg_foot {
  background-position: $vg_frontleg_foot_x 0px;
}

#outfit105_backhem {
  background-position: ($vg_back_hem_x - 10) -140px;
  left: 65px;
  transform: scaleY(-1) rotate(188deg);
}

#outfit105_fronthem {
  background-position: ($vg_front_hem_x) -120px;
  left: -4px;
  transform: scaleY(-1) rotate(172deg);
  height: 140px;
  width: 85px;
}

#outfit105_backleg_upperhalf {
  background-position: $vg_backleg_upperhalf_x 0px;
}

#outfit105_backleg_lowerhalf {
    background-position: $vg_leg_lowerhalf_x 0px;
}

#outfit105_frontarm_upperhalf {
  background-position: 0px $vg_frontarm_upperhalf_y;
}

#outfit105_frontleg_upperhalf { /* This one doesn't look right. */
  background-position: $vg_frontleg_upperhalf_x $vg_secondrow_y;
}

#outfit105_frontleg_lowerhalf {
  background-position: $vg_leg_lowerhalf_x $vg_secondrow_y;
}

#outfit105_chest {
  background-position: $vg_chest_x $vg_chest_y;
      // transform: scaleX(-1) scale(.7); //Shrink for the children.
}

// #outfit105_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitC_y);
// }

#outfit105_backarm_lowerhalf {
  background-position: $vg_backarm_lowerhalf_x $vg_backarm_lowerhalf_y;
}

#outfit105_frontarm_lowerhalf {
  background-position: $vg_frontarm_lowerhalf_x $vg_frontarm_lowerhalf_y;
}




/* Outfit 106 - Armored vault suit */
#outfit106_backarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) 0px;
}

#outfit106_backleg_foot {
  background-position: ($vg_backleg_foot_x - $outfit_BDFH_x) 0px;
}

#outfit106_frontleg_foot {
  background-position: ($vg_frontleg_foot_x - $outfit_BDFH_x) 0px;
}

#outfit106_backleg_upperhalf {
  background-position: ($vg_backleg_upperhalf_x - $outfit_BDFH_x) 0px;
}

#outfit106_backleg_lowerhalf {
    background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) 0px;
}

#outfit106_frontarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) $vg_frontarm_upperhalf_y;
}

#outfit106_frontleg_upperhalf {
  background-position: ($vg_frontleg_upperhalf_x - $outfit_BDFH_x) $vg_secondrow_y;
}

#outfit106_frontleg_lowerhalf {
  background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) $vg_secondrow_y;
}

#outfit106_chest {
  background-position: ($vg_chest_x - $outfit_BDFH_x + 2) ($vg_chest_y + 1);
}

// #outfit106_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitC_y);
// }

#outfit106_backarm_lowerhalf {
  background-position: ($vg_backarm_lowerhalf_x - $outfit_BDFH_x) $vg_backarm_lowerhalf_y;
}

#outfit106_frontarm_lowerhalf {
  background-position: ($vg_frontarm_lowerhalf_x - $outfit_BDFH_x) $vg_frontarm_lowerhalf_y;
}




/* Outfit 107 - Swimsuit */
#outfit107_backarm_upperhalf {
  width: 0px;
  height: 0px;
}

#outfit107_backleg_foot {
    width: 0px;
  height: 0px;
}

#outfit107_frontleg_foot {
    width: 0px;
  height: 0px;
}

#outfit107_backleg_upperhalf {
  background-position: -266px (-$outfitC_y - 2);
}

#outfit107_backleg_lowerhalf {
      width: 0px;
  height: 0px;
}

#outfit107_frontarm_upperhalf {
    width: 0px;
  height: 0px;
}

#outfit107_frontleg_upperhalf {
  background-position: -276px ($vg_secondrow_y - $outfitC_y - 2);
}

#outfit107_frontleg_lowerhalf {
    width: 0px;
  height: 0px;
}

#outfit107_chest {
  background-position: $vg_chest_x ($vg_chest_y - $outfitC_y);
}

// #outfit107_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitC_y);
// }

#outfit107_backarm_lowerhalf {
    width: 0px;
  height: 0px;
}

#outfit107_frontarm_lowerhalf {
    width: 0px;
  height: 0px;
}




/* Outfit 108 - Synth armor */
#outfit108_backarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit108_backleg_foot {
  background-position: ($vg_backleg_foot_x - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit108_frontleg_foot {
  background-position: ($vg_frontleg_foot_x - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit108_backleg_upperhalf {
  background-position: ($vg_backleg_upperhalf_x - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit108_backleg_lowerhalf {
    background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit108_frontarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) ($vg_frontarm_upperhalf_y - $outfitC_y);
}

#outfit108_frontleg_upperhalf {
  background-position: ($vg_frontleg_upperhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitC_y);
}

#outfit108_frontleg_lowerhalf {
  background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitC_y);
}

#outfit108_chest {
  background-position: ($vg_chest_x - $outfit_BDFH_x) ($vg_chest_y - $outfitC_y);
}

// #outfit108_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitC_y);
// }

#outfit108_backarm_lowerhalf {
  background-position: ($vg_backarm_lowerhalf_x - $outfit_BDFH_x) ($vg_backarm_lowerhalf_y - $outfitC_y);
}

#outfit108_frontarm_lowerhalf {
  background-position: ($vg_frontarm_lowerhalf_x - $outfit_BDFH_x) ($vg_frontarm_lowerhalf_y - $outfitC_y);
}



/* Outfit 109 - Skeleton costume */
#outfit109_backarm_upperhalf {
  background-position: -2px (-$outfitE_y - 1);
}

#outfit109_backleg_foot {
  background-position: $vg_backleg_foot_x (-$outfitE_y);
}

#outfit109_frontleg_foot {
  background-position: $vg_frontleg_foot_x (-$outfitE_y);
}

#outfit109_backleg_upperhalf {
  background-position: -266px (-$outfitE_y - 2);
}

#outfit109_backleg_lowerhalf {
    background-position: $vg_leg_lowerhalf_x (-$outfitE_y - 1);
}

#outfit109_frontarm_upperhalf {
  background-position: 0px ($vg_frontarm_upperhalf_y - $outfitE_y - 1);
}

#outfit109_frontleg_upperhalf {
  background-position: -276px ($vg_secondrow_y - $outfitE_y - 2);
}

#outfit109_frontleg_lowerhalf {
  background-position: -399px ($vg_secondrow_y - $outfitE_y - 2);
}

#outfit109_chest {
  background-position: $vg_chest_x ($vg_chest_y - $outfitE_y);
}

// #outfit109_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitE_y);
// }

#outfit109_backarm_lowerhalf {
  background-position: $vg_backarm_lowerhalf_x ($vg_backarm_lowerhalf_y - $outfitE_y);
}

#outfit109_frontarm_lowerhalf {
  background-position: $vg_frontarm_lowerhalf_x ($vg_frontarm_lowerhalf_y - $outfitE_y);
}




/* Outfit 110 - Wasteland medic */
#outfit110_backarm_upperhalf {
  width: 0px;
  height: 0px;
}

#outfit110_backleg_foot {
  background-position: ($vg_backleg_foot_x - $outfit_BDFH_x) (-$outfitE_y);
}

#outfit110_frontleg_foot {
  background-position: ($vg_frontleg_foot_x - $outfit_BDFH_x) (-$outfitE_y);
}

#outfit110_backleg_upperhalf {
  background-position: ($vg_backleg_upperhalf_x - $outfit_BDFH_x) (-$outfitE_y);
}

#outfit110_backleg_lowerhalf {
    background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) (-$outfitE_y);
}

#outfit110_frontarm_upperhalf {
    width: 0px;
  height: 0px;
}

#outfit110_frontleg_upperhalf {
  background-position: ($vg_frontleg_upperhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitE_y);
}

#outfit110_frontleg_lowerhalf {
  background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitE_y);
}

#outfit110_chest {
  background-position: ($vg_chest_x - $outfit_BDFH_x) ($vg_chest_y - $outfitE_y);
}

// #outfit110_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitE_y);
// }

#outfit110_backarm_lowerhalf {
    width: 0px;
  height: 0px;
}

#outfit110_frontarm_lowerhalf {
  background-position: ($vg_frontarm_lowerhalf_x - $outfit_BDFH_x) ($vg_frontarm_lowerhalf_y - $outfitE_y);
}




/* Outfit 111 - Junior officer uniform */
#outfit111_backarm_upperhalf {
  background-position: -2px (-$outfitG_y - 1);
}

#outfit111_backleg_foot {
  background-position: $vg_backleg_foot_x (-$outfitG_y);
}

#outfit111_frontleg_foot {
  background-position: $vg_frontleg_foot_x (-$outfitG_y);
}

#outfit111_backleg_upperhalf {
  background-position: -266px (-$outfitG_y - 2);
}

#outfit111_backleg_lowerhalf {
    background-position: $vg_leg_lowerhalf_x (-$outfitG_y - 1);
}

#outfit111_frontarm_upperhalf {
  background-position: 0px ($vg_frontarm_upperhalf_y - $outfitG_y - 1);
}

#outfit111_frontleg_upperhalf {
  background-position: -276px ($vg_secondrow_y - $outfitG_y - 2);
}

#outfit111_frontleg_lowerhalf {
  background-position: -399px ($vg_secondrow_y - $outfitG_y - 2);
}

#outfit111_chest {
  background-position: $vg_chest_x ($vg_chest_y - $outfitG_y);
  height: 125px;
}

// #outfit111_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitG_y);
// }

#outfit111_backarm_lowerhalf {
  background-position: $vg_backarm_lowerhalf_x ($vg_backarm_lowerhalf_y - $outfitG_y);
}

#outfit111_frontarm_lowerhalf {
  background-position: $vg_frontarm_lowerhalf_x ($vg_frontarm_lowerhalf_y - $outfitG_y);
}




/* Outfit 112 - Initiate robe */
#outfit112_backarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit112_backleg_foot {
  background-position: ($vg_backleg_foot_x - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit112_frontleg_foot {
  background-position: ($vg_frontleg_foot_x - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit112_backhem {
  background-position: ($vg_back_hem_x - $outfit_BDFH_x - 10) (-$outfitG_y - 130);
  width: 70px;
  left: 45px;
  transform: scaleY(-1) rotate(188deg);
  height: 125px;
}

#outfit112_fronthem {
  background-position: ($vg_front_hem_x - $outfit_BDFH_x) (-$outfitG_y - 130);
  left: -4px;
  transform: scaleY(-1) rotate(172deg);
  height: 125px;
}

#outfit112_backleg_upperhalf {
  background-position: ($vg_backleg_upperhalf_x - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit112_backleg_lowerhalf {
    background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit112_frontarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) ($vg_frontarm_upperhalf_y - $outfitG_y);
}

#outfit112_frontleg_upperhalf {
  background-position: ($vg_frontleg_upperhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitG_y);
}

#outfit112_frontleg_lowerhalf {
  background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitG_y);
}

#outfit112_chest {
  background-position: ($vg_chest_x - $outfit_BDFH_x) ($vg_chest_y - $outfitG_y);
}

// #outfit112_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitG_y);
// }

#outfit112_backarm_lowerhalf {
  background-position: ($vg_backarm_lowerhalf_x - $outfit_BDFH_x) ($vg_backarm_lowerhalf_y - $outfitG_y);
}

#outfit112_frontarm_lowerhalf {
  background-position: ($vg_frontarm_lowerhalf_x - $outfit_BDFH_x) ($vg_frontarm_lowerhalf_y - $outfitG_y);
}