@import 'mixins';

/* Outfit 89 - Pilgrim outfit */
#outfit89_backarm_upperhalf {
  background-position: 0px 0px;
}

#outfit89_backleg_foot {
  background-position: $vg_backleg_foot_x 0px;
}

#outfit89_frontleg_foot {
  background-position: $vg_frontleg_foot_x 0px;
}

#outfit89_backleg_upperhalf {
  background-position: $vg_backleg_upperhalf_x 0px;
}

#outfit89_backleg_lowerhalf {
    background-position: $vg_leg_lowerhalf_x 0px;
}

#outfit89_frontarm_upperhalf {
  background-position: 0px $vg_frontarm_upperhalf_y;
}

#outfit89_frontleg_upperhalf { /* This one doesn't look right. */
  background-position: $vg_frontleg_upperhalf_x $vg_secondrow_y;
}

#outfit89_frontleg_lowerhalf {
  background-position: $vg_leg_lowerhalf_x $vg_secondrow_y;
}

#outfit89_chest {
  background-position: $vg_chest_x $vg_chest_y;
}

// #outfit89_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitC_y);
// }

#outfit89_backarm_lowerhalf {
  background-position: $vg_backarm_lowerhalf_x $vg_backarm_lowerhalf_y;
}

#outfit89_frontarm_lowerhalf {
  background-position: $vg_frontarm_lowerhalf_x $vg_frontarm_lowerhalf_y;
}

#outfit89_skirt {
  background-position: $vg_skirt_x $vg_skirt_y;
}




/* Outfit 90 - Piper's outfit */
#outfit90_backarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) 0px;
}

#outfit90_backleg_foot {
  background-position: ($vg_backleg_foot_x - $outfit_BDFH_x) 0px;
}

#outfit90_frontleg_foot {
  background-position: ($vg_frontleg_foot_x - $outfit_BDFH_x) 0px;
}

#outfit90_backhem {
  background-position: ($vg_back_hem_x - $outfit_BDFH_x - 10) -125px;
  width: 70px;
  left: 45px;
  transform: scaleY(-1) rotate(188deg);
}

#outfit90_fronthem {
  background-position: ($vg_front_hem_x - $outfit_BDFH_x) -130px;
  left: -4px;
  transform: scaleY(-1) rotate(172deg);
}

#outfit90_backleg_upperhalf {
  background-position: ($vg_backleg_upperhalf_x - $outfit_BDFH_x) 0px;
}

#outfit90_backleg_lowerhalf {
    background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) 0px;
}

#outfit90_frontarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) $vg_frontarm_upperhalf_y;
}

#outfit90_frontleg_upperhalf {
  background-position: ($vg_frontleg_upperhalf_x - $outfit_BDFH_x) $vg_secondrow_y;
}

#outfit90_frontleg_lowerhalf {
  background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) $vg_secondrow_y;
}

#outfit90_chest {
  background-position: ($vg_chest_x - $outfit_BDFH_x + 2) ($vg_chest_y + 1);
}

// #outfit90_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitC_y);
// }

#outfit90_backarm_lowerhalf {
  background-position: ($vg_backarm_lowerhalf_x - $outfit_BDFH_x) $vg_backarm_lowerhalf_y;
}

#outfit90_frontarm_lowerhalf {
  background-position: ($vg_frontarm_lowerhalf_x - $outfit_BDFH_x) $vg_frontarm_lowerhalf_y;
}




/* Outfit 91 - Military fatigues */
#outfit91_backarm_upperhalf {
  background-position: -2px (-$outfitC_y - 1);
}

#outfit91_backleg_foot {
  background-position: $vg_backleg_foot_x (-$outfitC_y);
}

#outfit91_frontleg_foot {
  background-position: $vg_frontleg_foot_x (-$outfitC_y);
}

#outfit91_backleg_upperhalf {
  background-position: -266px (-$outfitC_y - 2);
}

#outfit91_backleg_lowerhalf {
    background-position: $vg_leg_lowerhalf_x (-$outfitC_y - 1);
}

#outfit91_frontarm_upperhalf {
  background-position: 0px ($vg_frontarm_upperhalf_y - $outfitC_y - 1);
}

#outfit91_frontleg_upperhalf {
  background-position: -276px ($vg_secondrow_y - $outfitC_y - 2);
}

#outfit91_frontleg_lowerhalf {
  background-position: -399px ($vg_secondrow_y - $outfitC_y - 2);
}

#outfit91_chest {
  background-position: $vg_chest_x ($vg_chest_y - $outfitC_y);
}

// #outfit91_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitC_y);
// }

#outfit91_backarm_lowerhalf {
  background-position: $vg_backarm_lowerhalf_x ($vg_backarm_lowerhalf_y - $outfitC_y);
}

#outfit91_frontarm_lowerhalf {
  background-position: $vg_frontarm_lowerhalf_x ($vg_frontarm_lowerhalf_y - $outfitC_y);
}





/* Outfit 92 - Nightwear */
#outfit92_backarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit92_backleg_foot {
  background-position: ($vg_backleg_foot_x - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit92_frontleg_foot {
  background-position: ($vg_frontleg_foot_x - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit92_backleg_upperhalf {
  background-position: ($vg_backleg_upperhalf_x - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit92_backleg_lowerhalf {
    background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit92_frontarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) ($vg_frontarm_upperhalf_y - $outfitC_y);
}

#outfit92_frontleg_upperhalf {
  background-position: ($vg_frontleg_upperhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitC_y);
}

#outfit92_frontleg_lowerhalf {
  background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitC_y);
}

#outfit92_chest {
  background-position: ($vg_chest_x - $outfit_BDFH_x) ($vg_chest_y - $outfitC_y);
}

// #outfit92_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitC_y);
// }

#outfit92_backarm_lowerhalf {
  background-position: ($vg_backarm_lowerhalf_x - $outfit_BDFH_x) ($vg_backarm_lowerhalf_y - $outfitC_y);
}

#outfit92_frontarm_lowerhalf {
  background-position: ($vg_frontarm_lowerhalf_x - $outfit_BDFH_x) ($vg_frontarm_lowerhalf_y - $outfitC_y);
}





/* Outfit 93 - Lifeguard outfit */
#outfit93_backarm_upperhalf {
  width: 0px;
  height: 0px;
}

#outfit93_backleg_foot {
  width: 0px;
  height: 0px;
}

#outfit93_frontleg_foot {
  width: 0px;
  height: 0px;
}

#outfit93_backleg_upperhalf {
  background-position: -266px (-$outfitE_y - 2);
}

#outfit93_backleg_lowerhalf {
    width: 0px;
  height: 0px;
}

#outfit93_frontarm_upperhalf {
  width: 0px;
  height: 0px;
}

#outfit93_frontleg_upperhalf {
  background-position: -276px ($vg_secondrow_y - $outfitE_y - 2);
}

#outfit93_frontleg_lowerhalf {
  width: 0px;
  height: 0px;
}

#outfit93_chest {
  background-position: $vg_chest_x ($vg_chest_y - $outfitE_y);
}

// #outfit93_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitE_y);
// }

#outfit93_backarm_lowerhalf {
  width: 0px;
  height: 0px;
}

#outfit93_frontarm_lowerhalf {
  width: 0px;
  height: 0px;
}




/* Outfit 94 - Metal armor */
#outfit94_backarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) (-$outfitE_y);
}

#outfit94_backleg_foot {
  background-position: ($vg_backleg_foot_x - $outfit_BDFH_x) (-$outfitE_y);
}

#outfit94_frontleg_foot {
  background-position: ($vg_frontleg_foot_x - $outfit_BDFH_x) (-$outfitE_y);
}

#outfit94_backleg_upperhalf {
  background-position: ($vg_backleg_upperhalf_x - $outfit_BDFH_x) (-$outfitE_y);
}

#outfit94_backleg_lowerhalf {
    background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) (-$outfitE_y);
}

#outfit94_frontarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) ($vg_frontarm_upperhalf_y - $outfitE_y);
}

#outfit94_frontleg_upperhalf {
  background-position: ($vg_frontleg_upperhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitE_y);
}

#outfit94_frontleg_lowerhalf {
  background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitE_y);
}

#outfit94_chest {
  background-position: ($vg_chest_x - $outfit_BDFH_x) ($vg_chest_y - $outfitE_y);
}

// #outfit94_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitE_y);
// }

#outfit94_backarm_lowerhalf {
  background-position: ($vg_backarm_lowerhalf_x - $outfit_BDFH_x) ($vg_backarm_lowerhalf_y - $outfitE_y);
}

#outfit94_frontarm_lowerhalf {
  background-position: ($vg_frontarm_lowerhalf_x - $outfit_BDFH_x) ($vg_frontarm_lowerhalf_y - $outfitE_y);
}




/* Outfit 95 - Vault suit */
#outfit95_backarm_upperhalf {
  background-position: -2px (-$outfitG_y - 1);
}

#outfit95_backleg_foot {
  background-position: $vg_backleg_foot_x (-$outfitG_y);
}

#outfit95_frontleg_foot {
  background-position: $vg_frontleg_foot_x (-$outfitG_y);
}

#outfit95_backleg_upperhalf {
  background-position: -266px (-$outfitG_y - 2);
}

#outfit95_backleg_lowerhalf {
    background-position: $vg_leg_lowerhalf_x (-$outfitG_y - 1);
}

#outfit95_frontarm_upperhalf {
  background-position: 0px ($vg_frontarm_upperhalf_y - $outfitG_y - 1);
}

#outfit95_frontleg_upperhalf {
  background-position: -276px ($vg_secondrow_y - $outfitG_y - 2);
}

#outfit95_frontleg_lowerhalf {
  background-position: -399px ($vg_secondrow_y - $outfitG_y - 2);
}

#outfit95_chest {
  background-position: $vg_chest_x ($vg_chest_y - $outfitG_y);
}

// #outfit95_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitG_y);
// }

#outfit95_backarm_lowerhalf {
  background-position: $vg_backarm_lowerhalf_x ($vg_backarm_lowerhalf_y - $outfitG_y);
}

#outfit95_frontarm_lowerhalf {
  background-position: $vg_frontarm_lowerhalf_x ($vg_frontarm_lowerhalf_y - $outfitG_y);
}




/* Outfit 88 - Lab coat */
#outfit96_backarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit96_backleg_foot {
  background-position: ($vg_backleg_foot_x - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit96_frontleg_foot {
  background-position: ($vg_frontleg_foot_x - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit96_backhem {
  background-position: ($vg_back_hem_x - $outfit_BDFH_x - 10) (-$outfitG_y - 130);
  width: 70px;
  left: 45px;
  transform: scaleY(-1) rotate(188deg);
}

#outfit96_fronthem {
  background-position: ($vg_front_hem_x - $outfit_BDFH_x) (-$outfitG_y - 130);
  left: -4px;
  transform: scaleY(-1) rotate(172deg);
}

#outfit96_backleg_upperhalf {
  background-position: ($vg_backleg_upperhalf_x - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit96_backleg_lowerhalf {
    background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit96_frontarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) ($vg_frontarm_upperhalf_y - $outfitG_y);
}

#outfit96_frontleg_upperhalf {
  background-position: ($vg_frontleg_upperhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitG_y);
}

#outfit96_frontleg_lowerhalf {
  background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitG_y);
}

#outfit96_chest {
  background-position: ($vg_chest_x - $outfit_BDFH_x) ($vg_chest_y - $outfitG_y);
}

// #outfit96_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitG_y);
// }

#outfit96_backarm_lowerhalf {
  background-position: ($vg_backarm_lowerhalf_x - $outfit_BDFH_x) ($vg_backarm_lowerhalf_y - $outfitG_y);
}

#outfit96_frontarm_lowerhalf {
  background-position: ($vg_frontarm_lowerhalf_x - $outfit_BDFH_x) ($vg_frontarm_lowerhalf_y - $outfitG_y);
}