@import 'mixins';

/* Outfit 97 - Merc gear */
#outfit97_backarm_upperhalf {
  background-position: 0px 0px;
}

#outfit97_backleg_foot {
  background-position: $vg_backleg_foot_x 0px;
}

#outfit97_frontleg_foot {
  background-position: $vg_frontleg_foot_x 0px;
}

#outfit97_backhem {
  background-position: ($vg_back_hem_x - 10) -140px;
  left: 65px;
  transform: scaleY(-1) rotate(188deg);
}

#outfit97_fronthem {
  background-position: ($vg_front_hem_x) -120px;
  left: -4px;
  transform: scaleY(-1) rotate(172deg);
  height: 140px;
  width: 85px;
}

#outfit97_backleg_upperhalf {
  background-position: $vg_backleg_upperhalf_x 0px;
}

#outfit97_backleg_lowerhalf {
    background-position: $vg_leg_lowerhalf_x 0px;
}

#outfit97_frontarm_upperhalf {
  background-position: 0px $vg_frontarm_upperhalf_y;
}

#outfit97_frontleg_upperhalf { /* This one doesn't look right. */
  background-position: $vg_frontleg_upperhalf_x $vg_secondrow_y;
}

#outfit97_frontleg_lowerhalf {
  background-position: $vg_leg_lowerhalf_x $vg_secondrow_y;
}

#outfit97_chest {
  background-position: $vg_chest_x $vg_chest_y;
}

// #outfit97_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitC_y);
// }

#outfit97_backarm_lowerhalf {
  background-position: $vg_backarm_lowerhalf_x $vg_backarm_lowerhalf_y;
}

#outfit97_frontarm_lowerhalf {
  background-position: $vg_frontarm_lowerhalf_x $vg_frontarm_lowerhalf_y;
}




/* Outfit 98 - Santa suit */
#outfit98_backarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) 0px;
}

#outfit98_backleg_foot {
  background-position: ($vg_backleg_foot_x - $outfit_BDFH_x) 0px;
}

#outfit98_frontleg_foot {
  background-position: ($vg_frontleg_foot_x - $outfit_BDFH_x) 0px;
}

#outfit98_backleg_upperhalf {
  background-position: ($vg_backleg_upperhalf_x - $outfit_BDFH_x) 0px;
}

#outfit98_backleg_lowerhalf {
    background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) 0px;
}

#outfit98_frontarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) $vg_frontarm_upperhalf_y;
}

#outfit98_frontleg_upperhalf {
  background-position: ($vg_frontleg_upperhalf_x - $outfit_BDFH_x) $vg_secondrow_y;
}

#outfit98_frontleg_lowerhalf {
  background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) $vg_secondrow_y;
}

#outfit98_chest {
  background-position: ($vg_chest_x - $outfit_BDFH_x + 2) ($vg_chest_y + 1);
}

// #outfit98_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitC_y);
// }

#outfit98_backarm_lowerhalf {
  background-position: ($vg_backarm_lowerhalf_x - $outfit_BDFH_x) $vg_backarm_lowerhalf_y;
}

#outfit98_frontarm_lowerhalf {
  background-position: ($vg_frontarm_lowerhalf_x - $outfit_BDFH_x) $vg_frontarm_lowerhalf_y;
}

#outfit98_skirt {
  background-position: ($vg_skirt_x - $outfit_BDFH_x) $vg_skirt_y;
}




/* Outfit 99 - Maternity clothes */
#outfit99_backarm_upperhalf {
  background-position: -2px (-$outfitC_y - 1);
}

#outfit99_backleg_foot {
  background-position: $vg_backleg_foot_x (-$outfitC_y);
}

#outfit99_frontleg_foot {
  background-position: $vg_frontleg_foot_x (-$outfitC_y);
}

#outfit99_backleg_upperhalf {
  background-position: -266px (-$outfitC_y - 2);
}

#outfit99_backleg_lowerhalf {
    background-position: $vg_leg_lowerhalf_x (-$outfitC_y - 1);
}

#outfit99_frontarm_upperhalf {
  background-position: 0px ($vg_frontarm_upperhalf_y - $outfitC_y - 1);
}

#outfit99_frontleg_upperhalf {
  background-position: -276px ($vg_secondrow_y - $outfitC_y - 2);
}

#outfit99_frontleg_lowerhalf {
  background-position: -399px ($vg_secondrow_y - $outfitC_y - 2);
}

#outfit99_chest {
  background-position: ($vg_chest_x + 10) ($vg_chest_y - $outfitC_y);
  width: 110px;
  height: 130px;
}

// #outfit99_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitC_y);
// }

#outfit99_backarm_lowerhalf {
  background-position: $vg_backarm_lowerhalf_x ($vg_backarm_lowerhalf_y - $outfitC_y);
}

#outfit99_frontarm_lowerhalf {
  background-position: $vg_frontarm_lowerhalf_x ($vg_frontarm_lowerhalf_y - $outfitC_y);
}




/* Outfit 100 - Raider armor */
#outfit100_backarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit100_backleg_foot {
  background-position: ($vg_backleg_foot_x - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit100_frontleg_foot {
  background-position: ($vg_frontleg_foot_x - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit100_backleg_upperhalf {
  background-position: ($vg_backleg_upperhalf_x - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit100_backleg_lowerhalf {
    background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit100_frontarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) ($vg_frontarm_upperhalf_y - $outfitC_y);
}

#outfit100_frontleg_upperhalf {
  background-position: ($vg_frontleg_upperhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitC_y);
}

#outfit100_frontleg_lowerhalf {
  background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitC_y);
}

#outfit100_chest {
  background-position: ($vg_chest_x - $outfit_BDFH_x) ($vg_chest_y - $outfitC_y);
}

// #outfit100_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitC_y);
// }

#outfit100_backarm_lowerhalf {
  background-position: ($vg_backarm_lowerhalf_x - $outfit_BDFH_x) ($vg_backarm_lowerhalf_y - $outfitC_y);
}

#outfit100_frontarm_lowerhalf {
  background-position: ($vg_frontarm_lowerhalf_x - $outfit_BDFH_x) ($vg_frontarm_lowerhalf_y - $outfitC_y);
}




/* Outfit 101 - T-60 power armor */
#outfit101_backarm_upperhalf {
  background-position: -2px (-$outfitE_y - 1);
}

#outfit101_backleg_foot {
  background-position: $vg_backleg_foot_x (-$outfitE_y);
}

#outfit101_frontleg_foot {
  background-position: $vg_frontleg_foot_x (-$outfitE_y);
}

#outfit101_backleg_upperhalf {
  background-position: -266px (-$outfitE_y - 2);
}

#outfit101_backleg_lowerhalf {
    background-position: $vg_leg_lowerhalf_x (-$outfitE_y - 1);
}

#outfit101_frontarm_upperhalf {
  background-position: 0px ($vg_frontarm_upperhalf_y - $outfitE_y - 1);
}

#outfit101_frontleg_upperhalf {
  background-position: -276px ($vg_secondrow_y - $outfitE_y - 2);
}

#outfit101_frontleg_lowerhalf {
  background-position: -399px ($vg_secondrow_y - $outfitE_y - 2);
}

#outfit101_chest {
  left: 0px;
  top: 28px;
  background-position: $vg_chest_x ($vg_chest_y - $outfitE_y);
}

// #outfit101_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitE_y);
// }

#outfit101_backarm_lowerhalf {
  background-position: $vg_backarm_lowerhalf_x ($vg_backarm_lowerhalf_y - $outfitE_y);
}

#outfit101_frontarm_lowerhalf {
  background-position: $vg_frontarm_lowerhalf_x ($vg_frontarm_lowerhalf_y - $outfitE_y);
}




/* Outfit 102 - X-01 Mk VI power armor */
#outfit102_backarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) (-$outfitE_y);
}

#outfit102_backleg_foot {
  background-position: ($vg_backleg_foot_x - $outfit_BDFH_x) (-$outfitE_y);
}

#outfit102_frontleg_foot {
  background-position: ($vg_frontleg_foot_x - $outfit_BDFH_x) (-$outfitE_y);
}

#outfit102_backleg_upperhalf {
  background-position: ($vg_backleg_upperhalf_x - $outfit_BDFH_x) (-$outfitE_y);
}

#outfit102_backleg_lowerhalf {
    background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) (-$outfitE_y);
}

#outfit102_frontarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) ($vg_frontarm_upperhalf_y - $outfitE_y);
}

#outfit102_frontleg_upperhalf {
  background-position: ($vg_frontleg_upperhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitE_y);
}

#outfit102_frontleg_lowerhalf {
  background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitE_y);
}

#outfit102_chest {
  left: 3px;
  top: 28px;
  background-position: ($vg_chest_x - $outfit_BDFH_x) ($vg_chest_y - $outfitE_y);
}

// #outfit102_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitE_y);
// }

#outfit102_backarm_lowerhalf {
  background-position: ($vg_backarm_lowerhalf_x - $outfit_BDFH_x) ($vg_backarm_lowerhalf_y - $outfitE_y);
}

#outfit102_frontarm_lowerhalf {
  background-position: ($vg_frontarm_lowerhalf_x - $outfit_BDFH_x) ($vg_frontarm_lowerhalf_y - $outfitE_y);
}




/* Outfit 103 - T-45 power armor */
#outfit103_backarm_upperhalf {
  background-position: -2px (-$outfitG_y - 1);
}

#outfit103_backleg_foot {
  background-position: $vg_backleg_foot_x (-$outfitG_y);
}

#outfit103_frontleg_foot {
  background-position: $vg_frontleg_foot_x (-$outfitG_y);
}

#outfit103_backleg_upperhalf {
  background-position: -266px (-$outfitG_y - 2);
}

#outfit103_backleg_lowerhalf {
    background-position: $vg_leg_lowerhalf_x (-$outfitG_y - 1);
}

#outfit103_frontarm_upperhalf {
  background-position: 0px ($vg_frontarm_upperhalf_y - $outfitG_y - 1);
}

#outfit103_frontleg_upperhalf {
  background-position: -276px ($vg_secondrow_y - $outfitG_y - 2);
}

#outfit103_frontleg_lowerhalf {
  background-position: -399px ($vg_secondrow_y - $outfitG_y - 2);
}

#outfit103_chest {
  left: -1px;
  top: 28px;
  background-position: $vg_chest_x ($vg_chest_y - $outfitG_y);
}

// #outfit103_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitG_y);
// }

#outfit103_backarm_lowerhalf {
  background-position: $vg_backarm_lowerhalf_x ($vg_backarm_lowerhalf_y - $outfitG_y);
}

#outfit103_frontarm_lowerhalf {
  background-position: $vg_frontarm_lowerhalf_x ($vg_frontarm_lowerhalf_y - $outfitG_y);
}




/* Outfit 104 - T-51 power armor */
#outfit104_backarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit104_backleg_foot {
  background-position: ($vg_backleg_foot_x - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit104_frontleg_foot {
  background-position: ($vg_frontleg_foot_x - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit104_backleg_upperhalf {
  background-position: ($vg_backleg_upperhalf_x - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit104_backleg_lowerhalf {
    background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit104_frontarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) ($vg_frontarm_upperhalf_y - $outfitG_y);
}

#outfit104_frontleg_upperhalf {
  background-position: ($vg_frontleg_upperhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitG_y);
}

#outfit104_frontleg_lowerhalf {
  background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitG_y);
}

#outfit104_chest {
  left: -1px;
  top: 28px;
  background-position: ($vg_chest_x - $outfit_BDFH_x) ($vg_chest_y - $outfitG_y);
}

// #outfit104_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitG_y);
// }

#outfit104_backarm_lowerhalf {
  background-position: ($vg_backarm_lowerhalf_x - $outfit_BDFH_x) ($vg_backarm_lowerhalf_y - $outfitG_y);
}

#outfit104_frontarm_lowerhalf {
  background-position: ($vg_frontarm_lowerhalf_x - $outfit_BDFH_x) ($vg_frontarm_lowerhalf_y - $outfitG_y);
}

#outfit104_skirt {
  background-position: ($vg_skirt_x - $outfit_BDFH_x) ($vg_skirt_y - $outfitG_y);
}