@import 'mixins';

$firstCol: -5px;
$secondCol: -135px;
$thirdCol: -275px;
$forthCol: -410px;
$fifthCol: -550px;
$sixthCol: -685px;
$seventhCol: -820px;

$firstRow: -10px;
$secondRow: -135px;
$thirdRow: -260px;
$forthRow: -385px;
$fifthRow: -520px;
$sixthRow: -650px;

.vg_hair {
						// background-color: rgba(0,0,0,.1);
	width: 130px;
	height: 120px;
						z-index: 74;
	
}

/* Vault Girl Hairstyles */
#vg_hair1 {
	left: -11px;
	top: -10px;
	background-position: $firstCol $firstRow;
}

#vg_hair2 {
	left: -10px;
	top: -15px;
	background-position: $firstCol $secondRow;
}

#vg_hair3 {
	left: -10px;
	top: -15px;
	background-position: $firstCol $thirdRow;
}

#vg_hair4 {
	left: -11px;
	top: -18px;
	background-position: $firstCol $forthRow;
}

#vg_hair5 {
	left: -10px;
	top: -10px;
	background-position: $firstCol $fifthRow;
}

#vg_hair6 {
	left: -10px;
	top: -15px;
	background-position: $firstCol ($sixthRow + 10); //Needs to be close to upper border.
}

#vg_hair7 {
	left: -15px;
	top: -10px;
		background-position: $secondCol $firstRow;
}

#vg_hair8 {
		left: -17px;
	top: -13px;
		background-position: $secondCol $secondRow;
}

#vg_hair9 {
		left: -16px;
	top: -16px;
		background-position: $secondCol $thirdRow;
}

#vg_hair10 {
		left: -17px;
	top: -21px;
		background-position: $secondCol $forthRow;
}

#vg_hair11 {
	left: -15px;
	top: -15px;
		background-position: $secondCol $fifthRow;
}

#vg_hair12 {
	left: -17px;
	top: -10px;
		background-position: $secondCol $sixthRow;
}

#vg_hair13 {
	left: -13px;
	top: -10px;
		background-position: $thirdCol $firstRow;
}

#vg_hair14 {
	left: -14px;
	top: -13px;
		background-position: $thirdCol $secondRow;
}

#vg_hair15 {
	left: -13px;
	top: -18px;
		background-position: $thirdCol $thirdRow;
}

#vg_hair16 {
	left: -13px;
	top: -21px;
		background-position: $thirdCol $forthRow;
}

#vg_hair17 {
	left: -13px;
	top: -12px;
		background-position: $thirdCol $fifthRow;
}

#vg_hair18 {
	left: -12px;
	top: -10px;
		background-position: $thirdCol $sixthRow;
}

#vg_hair19 {
	left: -15px;
	top: -12px;
		background-position: $forthCol $fifthRow;
}

#vg_hair20 {
	left: -15px;
	top: -15px;
		background-position: $forthCol $sixthRow;
}

#vg_hair21 {
	left: -10px;
	top: -10px;
		background-position: $fifthCol $fifthRow;
}

#vg_hair22 {
	left: -10px;
	top: -10px;
		background-position: $fifthCol $sixthRow;
}

#vg_hair23 {
	left: -12px;
	top: -12px;
		background-position: $sixthCol $fifthRow;
}

#vg_hair24 {
	left: -12px;
	top: -10px;
		background-position: $sixthCol $sixthRow;
}

#vg_hair25 {
	left: -13px;
	top: -10px;
		background-position: $seventhCol $fifthRow;
}

#vg_hair26 {
	left: -13px;
	top: -10px;
		background-position: $seventhCol $sixthRow;
}




.vgs_hat {
	background-color: rgba(255,0,255,.5);
	left: -105px;
  	top: -16px;
}



/* Vault Girl Headwear */

#vgs_headwear1 { //Combat armor helmet
	background-position: ($forthCol - 10) ($firstRow + 10);
}

#vgs_headwear2 { //Cat ears
	background-position: ($forthCol - 10) ($secondRow + 5);
}

#vgs_headwear3 { //Baseball cap
	background-position: ($forthCol - 5) ($thirdRow + 5);
}

#vgs_headwear4 { //Aviator cap
	width: 120px;
	height: 125px;
	background-position: ($forthCol - 10) ($forthRow);
}

#vgs_headwear5 { //Shower cap
  background-position: ($fifthCol) ($firstRow + 10);
}

#vgs_headwear6 { //Wasteland darklight cowl
		width: 120px;
	height: 120px;
  background-position: ($fifthCol) ($secondRow);
}

#vgs_headwear7 { //Hard hat - Engineer outfit
  background-position: ($fifthCol) ($thirdRow + 8); //Close to top edge.
}

#vgs_headwear8 { //Elf hat
  background-position: ($fifthCol + 5) ($forthRow + 5);
}




#vgs_headwear9 { //Mascot head
	width: 145px;
	height: 133px; //Needs to be close to the edge.
   background-position: -675px 5px;
}

#vgs_headwear10 { //Sailor hat - Lifeguard outfit
  background-position: -690px -125px;
}

#vgs_headwear11 { //Surgery bandages
  background-position: -690px -270px;
}

#vgs_headwear12 { //Radiation suit helmet
		width: 130px;
	height: 135px;
   background-position: -680px -385px;
}



#vgs_headwear13 { 
  background-position: -825px 0px;
}

#vgs_headwear14 { //Metal helmet
	top: -15px;
  background-position: -820px -135px;
}

#vgs_headwear15 { //Laurel wreath - Republic robes
  background-position: -820px -270px;
}

#vgs_headwear16 { //Ghost costume
  background-position: -820px -400px;
}



#vgs_headwear { //
  background-position: -825px 0px;
}










/* Outfit 113 - Leather armor */
#outfit113_backarm_upperhalf {
  background-position: -2px (-$outfitG_y - 1);
}

#outfit113_backleg_foot {
  background-position: $vg_backleg_foot_x (-$outfitG_y);
}

#outfit113_frontleg_foot {
  background-position: $vg_frontleg_foot_x (-$outfitG_y);
}

#outfit113_backleg_upperhalf {
  background-position: -266px (-$outfitG_y - 2);
}

#outfit113_backleg_lowerhalf {
    background-position: $vg_leg_lowerhalf_x (-$outfitG_y - 1);
}

#outfit113_frontarm_upperhalf {
  background-position: 0px ($vg_frontarm_upperhalf_y - $outfitG_y - 1);
}

#outfit113_frontleg_upperhalf {
  background-position: -276px ($vg_secondrow_y - $outfitG_y - 2);
}

#outfit113_frontleg_lowerhalf {
  background-position: -399px ($vg_secondrow_y - $outfitG_y - 2);
}

#outfit113_chest {
  background-position: $vg_chest_x ($vg_chest_y - $outfitG_y);
  height: 125px;
}

// #outfit113_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitG_y);
// }

#outfit113_backarm_lowerhalf {
  background-position: $vg_backarm_lowerhalf_x ($vg_backarm_lowerhalf_y - $outfitG_y);
}

#outfit113_frontarm_lowerhalf {
  background-position: $vg_frontarm_lowerhalf_x ($vg_frontarm_lowerhalf_y - $outfitG_y);
}