@import 'mixins';

/* Outfit 81 - Wasteland gear */
#outfit81_backarm_upperhalf {
  background-position: 0px 0px;
}

#outfit81_backleg_foot {
  background-position: $vg_backleg_foot_x 0px;
}

#outfit81_frontleg_foot {
  background-position: $vg_frontleg_foot_x 0px;
}

#outfit81_backleg_upperhalf {
  background-position: $vg_backleg_upperhalf_x 0px;
}

#outfit81_backleg_lowerhalf {
    background-position: $vg_leg_lowerhalf_x 0px;
}

#outfit81_frontarm_upperhalf {
  background-position: 0px $vg_frontarm_upperhalf_y;
}

#outfit81_frontleg_upperhalf {
  background-position: $vg_frontleg_upperhalf_x $vg_secondrow_y;
}

#outfit81_frontleg_lowerhalf {
  background-position: $vg_leg_lowerhalf_x $vg_secondrow_y;
}

#outfit81_chest {
  background-position: $vg_chest_x $vg_chest_y;
}

// #outfit81_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitC_y);
// }

#outfit81_backarm_lowerhalf {
  background-position: $vg_backarm_lowerhalf_x $vg_backarm_lowerhalf_y;
}

#outfit81_frontarm_lowerhalf {
  background-position: $vg_frontarm_lowerhalf_x $vg_frontarm_lowerhalf_y;
}



/* Outfit 82 - Institute jumper */
#outfit82_backarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) 0px;
}

#outfit82_backleg_foot {
  background-position: ($vg_backleg_foot_x - $outfit_BDFH_x) 0px;
}

#outfit82_frontleg_foot {
  background-position: ($vg_frontleg_foot_x - $outfit_BDFH_x) 0px;
}

#outfit82_backleg_upperhalf {
  background-position: ($vg_backleg_upperhalf_x - $outfit_BDFH_x) 0px;
}

#outfit82_backleg_lowerhalf {
    background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) 0px;
}

#outfit82_frontarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) $vg_frontarm_upperhalf_y;
}

#outfit82_frontleg_upperhalf {
  background-position: ($vg_frontleg_upperhalf_x - $outfit_BDFH_x) $vg_secondrow_y;
}

#outfit82_frontleg_lowerhalf {
  background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) $vg_secondrow_y;
}

#outfit82_chest {
  background-position: ($vg_chest_x - $outfit_BDFH_x) $vg_chest_y;
}

// #outfit82_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitC_y);
// }

#outfit82_backarm_lowerhalf {
  background-position: ($vg_backarm_lowerhalf_x - $outfit_BDFH_x) $vg_backarm_lowerhalf_y;
}

#outfit82_frontarm_lowerhalf {
  background-position: ($vg_frontarm_lowerhalf_x - $outfit_BDFH_x) $vg_frontarm_lowerhalf_y;
}




/* Outfit 83 - Ghost costume */
#outfit83_backarm_upperhalf {
  background-position: -2px (-$outfitC_y - 1);
}

#outfit83_backleg_foot {
  background-position: $vg_backleg_foot_x (-$outfitC_y);
}

#outfit83_frontleg_foot {
  background-position: $vg_frontleg_foot_x (-$outfitC_y);
}

#outfit83_backleg_upperhalf {
  background-position: -266px (-$outfitC_y - 2);
}

#outfit83_backleg_lowerhalf {
    background-position: $vg_leg_lowerhalf_x (-$outfitC_y - 1);
}

#outfit83_frontarm_upperhalf {
  background-position: 0px ($vg_frontarm_upperhalf_y - $outfitC_y - 1);
}

#outfit83_frontleg_upperhalf {
  background-position: -276px ($vg_secondrow_y - $outfitC_y - 2);
}

#outfit83_frontleg_lowerhalf {
  background-position: -399px ($vg_secondrow_y - $outfitC_y - 2);
}

#outfit83_chest {
  background-position: $vg_chest_x ($vg_chest_y - $outfitC_y);
}

// #outfit83_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitC_y);
// }

#outfit83_backarm_lowerhalf {
  background-position: $vg_backarm_lowerhalf_x ($vg_backarm_lowerhalf_y - $outfitC_y);
}

#outfit83_frontarm_lowerhalf {
  background-position: $vg_frontarm_lowerhalf_x ($vg_frontarm_lowerhalf_y - $outfitC_y);
}

#outfit83_skirt {
  background-position: $vg_skirt_x ($vg_skirt_y - $outfitC_y);
}



/* Outfit 84 - Handyman jumpsuit */
#outfit84_backarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit84_backleg_foot {
  background-position: ($vg_backleg_foot_x - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit84_frontleg_foot {
  background-position: ($vg_frontleg_foot_x - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit84_backleg_upperhalf {
  background-position: ($vg_backleg_upperhalf_x - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit84_backleg_lowerhalf {
    background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) (-$outfitC_y);
}

#outfit84_frontarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) ($vg_frontarm_upperhalf_y - $outfitC_y);
}

#outfit84_frontleg_upperhalf {
  background-position: ($vg_frontleg_upperhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitC_y);
}

#outfit84_frontleg_lowerhalf {
  background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitC_y);
}

#outfit84_chest {
  background-position: ($vg_chest_x - $outfit_BDFH_x) ($vg_chest_y - $outfitC_y);
}

// #outfit84_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitC_y);
// }

#outfit84_backarm_lowerhalf {
  background-position: ($vg_backarm_lowerhalf_x - $outfit_BDFH_x) ($vg_backarm_lowerhalf_y - $outfitC_y);
}

#outfit84_frontarm_lowerhalf {
  background-position: ($vg_frontarm_lowerhalf_x - $outfit_BDFH_x) ($vg_frontarm_lowerhalf_y - $outfitC_y);
}



/* Outfit 85 - Expert BoS uniform */
#outfit85_backarm_upperhalf {
  background-position: -2px (-$outfitE_y - 1);
}

#outfit85_backleg_foot {
  background-position: $vg_backleg_foot_x (-$outfitE_y);
}

#outfit85_frontleg_foot {
  background-position: $vg_frontleg_foot_x (-$outfitE_y);
}

#outfit85_backleg_upperhalf {
  background-position: -266px (-$outfitE_y - 2);
}

#outfit85_backleg_lowerhalf {
    background-position: $vg_leg_lowerhalf_x (-$outfitE_y - 1);
}

#outfit85_frontarm_upperhalf {
  background-position: 0px ($vg_frontarm_upperhalf_y - $outfitE_y - 1);
}

#outfit85_frontleg_upperhalf {
  background-position: -276px ($vg_secondrow_y - $outfitE_y - 2);
}

#outfit85_frontleg_lowerhalf {
  background-position: -399px ($vg_secondrow_y - $outfitE_y - 2);
}

#outfit85_chest {
  background-position: $vg_chest_x ($vg_chest_y - $outfitE_y);
}

// #outfit85_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitE_y);
// }

#outfit85_backarm_lowerhalf {
  background-position: $vg_backarm_lowerhalf_x ($vg_backarm_lowerhalf_y - $outfitE_y);
}

#outfit85_frontarm_lowerhalf {
  background-position: $vg_frontarm_lowerhalf_x ($vg_frontarm_lowerhalf_y - $outfitE_y);
}




/* Outfit 86 - Formal wear */
#outfit86_backarm_upperhalf {
  width: 0px;
  height: 0px;
}

#outfit86_backleg_foot {
  background-position: ($vg_backleg_foot_x - $outfit_BDFH_x) (-$outfitE_y);
}

#outfit86_frontleg_foot {
  background-position: ($vg_frontleg_foot_x - $outfit_BDFH_x) (-$outfitE_y);
}

#outfit86_backleg_upperhalf {
    width: 0px;
  height: 0px;
}

#outfit86_backleg_lowerhalf {
      width: 0px;
  height: 0px;
}

#outfit86_frontarm_upperhalf {
    width: 0px;
  height: 0px;
}

#outfit86_frontleg_upperhalf {
    width: 0px;
  height: 0px;
}

#outfit86_frontleg_lowerhalf {
    width: 0px;
  height: 0px;
}

#outfit86_chest {
  background-position: ($vg_chest_x - $outfit_BDFH_x) ($vg_chest_y - $outfitE_y);
}

// #outfit86_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitE_y);
// }

#outfit86_backarm_lowerhalf {
  background-position: ($vg_backarm_lowerhalf_x - $outfit_BDFH_x) ($vg_backarm_lowerhalf_y - $outfitE_y);
}

#outfit86_frontarm_lowerhalf {
  background-position: ($vg_frontarm_lowerhalf_x - $outfit_BDFH_x) ($vg_frontarm_lowerhalf_y - $outfitE_y);
}

#outfit86_skirt {
  background-position: ($vg_skirt_x - $outfit_BDFH_x) ($vg_skirt_y - $outfitE_y);
}



/* Outfit 83 - Republic robes */
#outfit87_backarm_upperhalf {
  width: 0px;
  height: 0px;
}

#outfit87_backleg_foot {
  background-position: $vg_backleg_foot_x (-$outfitG_y);
}

#outfit87_frontleg_foot {
  background-position: $vg_frontleg_foot_x (-$outfitG_y);
}

#outfit87_backleg_upperhalf {
    width: 0px;
  height: 0px;
}

#outfit87_backleg_lowerhalf {
    background-position: $vg_leg_lowerhalf_x (-$outfitG_y - 1);
}

#outfit87_frontarm_upperhalf {
  background-position: 0px ($vg_frontarm_upperhalf_y - $outfitG_y - 1);
}

#outfit87_frontleg_upperhalf {
  width: 0px;
  height: 0px;
}

#outfit87_frontleg_lowerhalf {
  background-position: -399px ($vg_secondrow_y - $outfitG_y - 2);
}

#outfit87_chest {
  background-position: $vg_chest_x ($vg_chest_y - $outfitG_y);
}

// #outfit87_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitG_y);
// }

#outfit87_backarm_lowerhalf {
  background-position: $vg_backarm_lowerhalf_x ($vg_backarm_lowerhalf_y - $outfitG_y);
}

#outfit87_frontarm_lowerhalf {
  background-position: $vg_frontarm_lowerhalf_x ($vg_frontarm_lowerhalf_y - $outfitG_y);
}

#outfit87_skirt {
  background-position: $vg_skirt_x ($vg_skirt_y - $outfitG_y);
}




/* Outfit 88 - Radiation suit */
#outfit88_backarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit88_backleg_foot {
  background-position: ($vg_backleg_foot_x - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit88_frontleg_foot {
  background-position: ($vg_frontleg_foot_x - $outfit_BDFH_x) (-$outfitG_y);
}

// #outfit88_backhem {
//   background-position: ($back_hem_x - $outfit_BDFH_x - 10) (10 - $outfitG_y);
// }

// #outfit88_fronthem {
//   background-position: ($front_hem_x - $outfit_BDFH_x) (5 - $outfitG_y);
// }

#outfit88_backleg_upperhalf {
  background-position: ($vg_backleg_upperhalf_x - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit88_backleg_lowerhalf {
    background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) (-$outfitG_y);
}

#outfit88_frontarm_upperhalf {
  background-position: (0px - $outfit_BDFH_x) ($vg_frontarm_upperhalf_y - $outfitG_y);
}

#outfit88_frontleg_upperhalf {
  background-position: ($vg_frontleg_upperhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitG_y);
}

#outfit88_frontleg_lowerhalf {
  background-position: ($vg_leg_lowerhalf_x - $outfit_BDFH_x) ($vg_secondrow_y - $outfitG_y);
}

#outfit88_chest {
  background-position: ($vg_chest_x - $outfit_BDFH_x) ($vg_chest_y - $outfitG_y);
}

// #outfit88_crotch {
//   background-position: $crotch_x ($crotch_y - $outfitG_y);
// }

#outfit88_backarm_lowerhalf {
  background-position: ($vg_backarm_lowerhalf_x - $outfit_BDFH_x) ($vg_backarm_lowerhalf_y - $outfitG_y);
}

#outfit88_frontarm_lowerhalf {
  background-position: ($vg_frontarm_lowerhalf_x - $outfit_BDFH_x) ($vg_frontarm_lowerhalf_y - $outfitG_y);
}