@import 'mixins';

/* Any shared classes or IDs that apply to VaultSuit and VaultBoy. */
#avatarWindow {
	background: transparentize(#083d42, 0.2);
}

#vaultSuit, #vaultPerson { /* These divs contain all of VaultSuit, and VaultPerson respectively. */
	position: absolute;
}

/* These IDs are for Vault Boy's Suit and Vault Boy's limbs. */
#vbs_frontArm, #vbs_head, #vbs_torso, #vbs_frontLeg, #vbs_trunk, #vbs_backLeg, #vbs_backArm, #vb_frontArm, #vb_head, #vb_frontLeg, #vb_torso, #vb_trunk, #vb_backLeg, #vb_backArm {
	position: absolute;
}

/* These IDs are for Vault Girl's Suit and Vault Girl's limbs. */
#vgs_frontArm, #vgs_head, #vgs_torso, #vgs_frontLeg, #vgs_trunk, #vgs_backLeg, #vgs_backArm, #vg_frontArm, #vg_head, #vg_frontLeg, #vg_torso, #vg_trunk, #vg_backLeg, #vg_backArm {
	position: absolute;
}

/* These shared IDs are for Vault Boy's Suit and limbs, Vault Girl's suit and limbs. */
#vbs_head, #vb_head, #vgs_head, #vg_head {
	-ms-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1);
}




/* These shared Classes & IDs are for each of Vault Boy's Suit and body segment, Vault Girl's suit and body segment.*/
.vbs_frontarm_lowerhalf, #vb_frontarm_lowerhalf, .vgs_frontarm_lowerhalf, #vg_frontarm_lowerhalf {
	width: 85px;
  	height: 55px;
  		// background-color: rgba(0,0,255,.5);
}

.vbs_frontarm_upperhalf, #vb_frontarm_upperhalf, .vgs_frontarm_upperhalf, #vg_frontarm_upperhalf {
  	width: 110px;
  	height: 60px;
  		// background-color: rgba(0,0,255,.5);
}

.vbs_frontarm_glove, .vb_frontarm_hand, .vgs_frontarm_glove, .vg_frontarm_hand {
	width: 65px;
  	height: 55px;
  		// background-color: rgba(0,0,255,.5);
}

.vbs_hat, .vgs_hat {
	width: 115px;
  	height: 115px;
		// background-color: rgba(255,0,0,.5);
}

.vb_hair, .vg_hair {
		// background-color: rgba(0,0,255,.5);
}

.vb_feature, .vg_feature,
.vb_featureLow, .vg_featureLow, .vb_featureMed, .vg_featureMed, .vb_featureHigh, .vg_featureHigh { //Facial Features.
  	width: 95px;
    height: 105px;
    		// background-color: rgba(0,255,255,.5);
}

.vb_face, .vg_face {
  	width: 95px;
    height: 105px;
    		// background-color: rgba(0,0,0,.10);
}


.vbs_chest, #vb_chest, .vgs_chest, #vg_chest {
	width: 100px;
  	height: 120px;
  	-ms-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1);
  			// background-color: rgba(0,0,0,.10);
}

.vbs_frontleg_upperhalf, #vb_frontleg_upperhalf, .vgs_frontleg_upperhalf, #vg_frontleg_upperhalf {
	width: 100px;
  	height: 60px;
  	  		// background-color: rgba(0,0,0,.10);
}

.vbs_frontleg_lowerhalf, #vb_frontleg_lowerhalf, .vgs_frontleg_lowerhalf, #vg_frontleg_lowerhalf {
	width: 87px;
  	height: 55px;
	  		// background-color: rgba(0,0,0,.10);
}

.vbs_frontleg_foot, #vb_frontleg_foot, .vgs_frontleg_foot, #vg_frontleg_foot {
	width: 60px;
  	height: 55px;
  	  		// background-color: rgba(0,0,0,.10);
}

.vbs_backleg_upperhalf, #vb_backleg_upperhalf, .vgs_backleg_upperhalf, #vg_backleg_upperhalf {
	width: 105px;
  	height: 65px;
  	  		// background-color: rgba(0,0,0,.10);
}

.vbs_backleg_lowerhalf, #vb_backleg_lowerhalf, .vgs_backleg_lowerhalf, #vg_backleg_lowerhalf {
	width: 87px;
  	height: 60px;
	  		// background-color: rgba(0,0,0,.10);
}

.vbs_backleg_foot, #vb_backleg_foot, .vgs_backleg_foot, #vg_backleg_foot {
	width: 60px;
  	height: 55px;
  	  		// background-color: rgba(0,0,0,.10);
}

.vbs_backarm_lowerhalf, #vb_backarm_lowerhalf, .vgs_backarm_lowerhalf, #vg_backarm_lowerhalf {
  	width: 80px;
  	height: 50px;
	  		 // background-color: rgba(0,255,0,.50);
}

.vbs_backarm_upperhalf, #vb_backarm_upperhalf, .vgs_backarm_upperhalf, #vg_backarm_upperhalf {
  	width: 90px;
  	height: 50px;
	  		// background-color: rgba(0,0,0,.10);
}

.vbs_backarm_glove, .vb_backarm_hand, .vgs_backarm_glove, .vg_backarm_hand {
	width: 65px;
  	height: 55px;
}




/* Z-Index values */
#vaultSuit, #vaultBoy, #vaultGirl { /* Don't give z-index. */
}

/* Vault Suit Limbs */
#vbs_frontArm, #vgs_frontArm {
	z-index: 60;
}

#vbs_head, #vgs_head {
	z-index: 70;
}

#vbs_torso, #vgs_torso {
	z-index: 50;
}

#vbs_frontLeg, #vgs_frontLeg {
	z-index: 40;
}

#vbs_trunk { //Vault Girl does not have a trunk limb.
	z-index: 30;
}

#vbs_backLeg, #vgs_backLeg {
	z-index: 20;
}

#vbs_backArm, #vgs_backArm {
	z-index: 10;
}


/* Vault Person Limbs */
#vb_frontArm, #vg_frontArm {
	z-index: 59;
}

#vb_head, #vg_head {
	z-index: 69;
}

#vb_torso, #vg_torso {
	z-index: 49;
}

#vb_frontLeg, #vg_frontLeg {
	z-index: 39;
}

#vb_trunk { //Vault Girl does not have a trunk limb.
	z-index: 29;
}

#vb_backLeg, #vg_backLeg {
	z-index: 19;
}

#vb_backArm, #vg_backArm {
	z-index: 9;
}


/* Vault Suit Segments */
.vbs_hat, .vgs_hat {
	z-index: 77;
}


/* Vault Person Segments */
#vb_frontarm_lowerhalf {
	z-index: 63;
}

#vb_frontarm_upperhalf {
	z-index: 62;
}

.vb_frontarm_hand {
	z-index: 61;
}

.vb_hair, .vg_hair {
	z-index: 74;
}

.vbs_feature, .vgs_feature {
	// z-index: 76;
}

.vb_featureLow, .vg_featureLow {
	z-index: 10;
	position: absolute;
}

.vb_featureMed, .vg_featureMed {
	z-index: 73; //Higher than 72, Lower than 74
	position: absolute;
}

.vb_featureHigh, .vg_featureHigh {
	z-index: 80;
	position: absolute;
}

.vb_face, .vg_face {
  	width: 95px;
    height: 105px;
    z-index: 72;
}