@import 'mixins';

/* These IDs are for Vault Boy's Suit and limbs. */
#vbs_frontArm, #vb_frontArm {
	left: 0px;
	top: 89px;
}

#vbs_torso, #vb_torso {
	left: 46px;
	top: 107px;
}

#vbs_frontLeg, #vb_frontLeg {
	left: 27px;
	top: 218px;
}

#vbs_trunk, #vb_trunk {
	left: 45px;
	top: 105px;
}

#vbs_backLeg, #vb_backLeg {
	left: 65px;
	top: 208px;
}

#vbs_backArm, #vb_backArm {
	left: 76px;
	top: 90px;
}



/* These Classes & IDs are for each of Vault Boy's suit and body segment. */
.vbs_frontarm_lowerhalf, #vb_frontarm_lowerhalf {
	left: 7px;
	top: 92px;
  	-ms-transform: scaleY(-1) rotate(85deg);
	-webkit-transform: scaleY(-1) rotate(85deg);
  	transform: scaleY(-1) rotate(85deg);
}

.vbs_frontarm_upperhalf, #vb_frontarm_upperhalf {
	left: 0px;
	top: 40px;
  	-ms-transform: scaleY(-1) rotate(75deg);
	-webkit-transform: scaleY(-1) rotate(75deg);
  	transform: scaleY(-1) rotate(75deg);
}

.vbs_frontarm_glove, .vb_frontarm_hand {
	left: 21px;
	top: 128px;
  	-ms-transform: scaleY(-1) rotate(-81deg);
	-webkit-transform: scaleY(-1) rotate(-81deg);
	transform: scaleY(-1) rotate(-81deg);
}

.vbs_hat {
	left: -108px;
	top: -10px;
}

.vb_hair {
	left: -3px;
  	top: -10px;
  	width: 110px;
  	height: 110px;
}

.vb_feature,
.vb_featureLow, .vb_featureMed, .vb_featureHigh { //Facial Features.
	left: 0px;
	top: 0px;
}

.vb_face {
	left: -1px;
	top: 0px;
}

.vbs_chest, #vb_chest {
	left: 0px;
	top: 0px;
}

.vbs_frontleg_upperhalf, #vb_frontleg_upperhalf {
	left: 0px;
	top: 0px;
  	-ms-transform: scaleY(-1) rotate(-90deg);
	-webkit-transform: scaleY(-1) rotate(-90deg);
	transform: scaleY(-1) rotate(-90deg);
}

.vbs_frontleg_lowerhalf, #vb_frontleg_lowerhalf {
	left: 0px;
	top: 55px;
  	-ms-transform: scaleY(-1) rotate(-105deg);
	-webkit-transform: scaleY(-1) rotate(-105deg);
	transform: scaleY(-1) rotate(-105deg);
}

.vbs_frontleg_foot, #vb_frontleg_foot {
	left: 11px;
	top: 101px;
  	-ms-transform: scaleY(-1) rotate(180deg);
	-webkit-transform: scaleY(-1) rotate(180deg);
  	transform: scaleY(-1) rotate(180deg);
  	  		// background-color: rgba(0,0,0,.10);
}

.vbs_crotch, #vb_crotch { //Vault Girl does not have crotch segment.
	left: 3px;
	top: 50px;
	width: 90px;
	height: 90px;
	-ms-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1);
  	  		// background-color: rgba(0,0,0,.10);
}

.vbs_backleg_upperhalf, #vb_backleg_upperhalf {
	left: 0px;
	top: 0px;
  	-ms-transform: scaleY(-1) rotate(95deg);
	-webkit-transform: scaleY(-1) rotate(95deg);
  	transform: scaleY(-1) rotate(95deg);
}

.vbs_backleg_lowerhalf, #vb_backleg_lowerhalf {
	left: 5px;
	top: 60px;
  	-ms-transform: scaleY(-1) rotate(-105deg);
	-webkit-transform: scaleY(-1) rotate(-105deg);
	transform: scaleY(-1) rotate(-105deg);
}

.vbs_backleg_foot, #vb_backleg_foot {
	left: 22px;
	top: 101px;
  	-ms-transform: scaleY(-1) rotate(180deg);
	-webkit-transform: scaleY(-1) rotate(180deg);
  	transform: scaleY(-1) rotate(180deg);
}

.vbs_backarm_lowerhalf, #vb_backarm_lowerhalf {
	left: 20px;
	top: 84px;
  	-ms-transform: scaleY(-1) rotate(-85deg);
	-webkit-transform: scaleY(-1) rotate(-85deg);
	transform: scaleY(-1) rotate(-85deg);
}

.vbs_backarm_upperhalf, #vb_backarm_upperhalf {
	left: 0px;
	top: 40px;
  	-ms-transform: scaleY(-1) rotate(75deg);
	-webkit-transform: scaleY(-1) rotate(75deg);
	transform: scaleY(1) rotate(75deg);
}

.vbs_backarm_glove, .vb_backarm_hand {
	left: 28px;
	top: 126px;
  	-ms-transform: scaleY(-1) rotate(-81deg);
	-webkit-transform: scaleX(-1) rotate(-81deg);
	transform: scaleX(-1) rotate(-81deg);
}




/* This is Vault Boy's skin. */
#vb_frontarm_lowerhalf, #vb_frontarm_upperhalf, .vb_frontarm_hand, .vb_hair, .vb_beard, .vb_face, #vb_chest, #vb_frontleg_upperhalf, #vb_frontleg_lowerhalf, #vb_frontleg_foot, #vb_crotch, #vb_backleg_upperhalf, #vb_backleg_lowerhalf, #vb_backleg_foot, #vb_backarm_upperhalf, #vb_backarm_lowerhalf, .vb_backarm_hand {
	position: absolute;
}


.vb_beard {
	/*left: -4px;*/
	left: 0px;
	top: 0px;
	width: 95px;
    height: 105px;
	z-index: 73;
	/*background-color: rgba(255,255,255,1);*/
}

.vbs_frontarm_glove, .vb_frontarm_hand { //Keep this seperate from Vault-Girl classes.


	}



#vbs_head, #vb_head {
	left: 43px;
	top: 25px;
}




// #left_blink {
// 	left: 0px;
// 	top: -20px;
// 	width: 50px;
// 	height: 50px;
// 	position: absolute;
// 	background-color: #ddd2a2;
// }

// #right_blink {

// }




#vb_chest {
	z-index: 50;
}

#vb_frontleg_upperhalf {
	z-index: 42;
}

#vb_frontleg_lowerhalf {
	z-index: 41;
}

#vb_frontleg_foot {
	z-index: 40;
}

#vb_crotch {
	z-index: -30;
}

#vb_backleg_upperhalf {
	z-index: 22;
}

#vb_backleg_lowerhalf {
	z-index: 21;
}

#vb_backleg_foot {
	z-index: 20;
}

#vb_backarm_lowerhalf {
	z-index: 13;
}

#vb_backarm_upperhalf {
	z-index: 12;
}

.vb_backarm_hand {
	z-index: 11;
}








#Gy39 {
  /*background-image: url('./screenshots/IMG_3504.PNG');*/
  background-image: url('../screenshots/Male/Guy39.jpg');
    width: 215px;
  height: 420px;
  position: absolute;
  left: 125px;
  top: 294px;
  z-index: 1000;
  
/*  opacity: 0;
  opacity: 1;
*/    opacity: .5;
  background-size: 90%;
}