

.buttonsRow {
	height: 80px;
	position: relative;
	display: flex;
    align-items: center;
}

.prevNextType {
	margin: 0 auto;
	width: 190px;
	float: left;
	font-size: 30px;
}

.displayRow {
	height: 60px;
	position: relative;
	display: flex;
    align-items: center;
}

.labelType {
	width: 35%;
	position: relative;
	text-align: right;
	font-weight: bold;
}

.styleType {
	width: 65%;
	position: relative;
	text-transform: capitalize;
}





