

.buttonsRow {
	height: 80px;
	position: relative;
	display: flex;
    align-items: center;
}

.prevNextType {
	margin: 0 auto;
	width: 190px;
	float: left;
	font-size: 28px;
}

.displayRow {
	height: 60px;
	position: relative;
	display: flex;
    align-items: center;
}

.labelType, .styleType {
	
}

.labelType {
	width: 35%;
	position: relative;
	text-align: right;
	font-family: monoFonto, 'Roboto Condensed', futuraCondensedPT, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.styleType {
	width: 65%;
	position: relative;
	text-transform: capitalize;
	font-family: 'Roboto Condensed', monoFonto, futuraCondensedPT, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 25px;
}





