





/* These control the group of Vault Boy's limbs. */
$arm_top: 67px; /*Controls Vault Boy's arm limbs Top.*/
$leg_top: 198px; //Controls Vault Boy's leg limbs Top.



/* These control each individual piece of Vault Boy or Vault Suit. */
/* Legs and Feet */
$backleg_upperhalf_width: 105px;  /* outfit0_backleg_upperhalf */
$backleg_upperhalf_height: 65px;  /* outfit0_backleg_upperhalf */
$leg_upperhalf_x: -75px;		  /* outfit0_backleg_upperhalf */
$backleg_y: -5px; 				  /* outfit0_backleg_upperhalf, outfit0_backleg_lowerhalf, outfit0_backleg_foot */

$backleg_lowerhalf_width: 87px;	  /* outfit0_backleg_lowerhalf */
$backleg_lowerhalf_height: 60px;  /* outfit0_backleg_lowerhalf */
$leg_lowerhalf_x: -185px;		  /* outfit0_backleg_lowerhalf */

$foot_width: 60px;				  /* outfit0_backleg_foot, outfit0_frontleg_foot */
$foot_height: 55px;				  /* outfit0_backleg_foot, outfit0_frontleg_foot */
$foot_x: -295px;				  /* outfit0_backleg_foot, outfit0_frontleg_foot */

$frontleg_upperhalf_width: 100px; /* outfit0__frontleg_upperhalf */
$frontleg_upperhalf_height: 60px; /* outfit0__frontleg_upperhalf */
$frontleg_y: -70px;				  /* outfit0_frontleg_upperhalf, outfit0_frontleg_lowerhalf */

$frontleg_lowerhalf_width: 87px;  /* outfit0_frontleg_lowerhalf */
$frontleg_lowerhalf_height: 55px; /* outfit0_frontleg_lowerhalf */

/* If possible, store hems here. */

/* Chest */
$chest_width: 100px;			  /* outfit0_chest */
$chest_height: 120px;			  /* outfit0_chest */
$chest_x: -120px;			 	  /* outfit0_chest */
$chest_y: -135px;				  /* outfit0_chest */

/* Crotch */
$crotch_width: 90px;			  /* outfit0_crotch */
$crotch_height: 90px;			  /* outfit0_crotch */
$crotch_x: -230px;				  /* outfit0_crotch */
$crotch_y: -160px;				  /* outfit0_crotch */

/* Arms and Hands */
$backarm_lowerhalf_width: 80px;	  /* outfit0__backarm_lowerhalf */
$backarm_lowerhalf_height: 50px;  /* outfit0_backarm_lowerhalf */
$arm_lowerhalf_x: -320px;		  /* outfit0_backarm_lowerhalf, outfit0_frontarm_lowerhalf */
$backarm_y: -140px;	  			  /* outfit0_backarm_lowerhalf, outfit0_backarm_upperhalf */

$backarm_upperhalf_width: 90px;	  /* outfit0_backarm_upperhalf */
$backarm_upperhalf_height: 50px;  /* outfit0_backarm_upperhalf */
$arm_upperhalf_x: -405px;	 	  /* outfit0_backarm_upperhalf, outfit0_frontarm_upperhalf */

$frontarm_lowerhalf_width: 85px;  /* outfit0_frontarm_lowerhalf */
$frontarm_lowerhalf_height: 55px; /* outfit0_frontarm_lowerhalf */
$frontarm_y: -190px;			  /* outfit0_frontarm_lowerhalf, outfit0_frontarm_upperhalf */

$frontarm_upperhalf_width: 110px; /* outfit0_frontarm_upperhalf */
$frontarm_upperhalf_height: 60px; /* outfit0_frontarm_upperhalf */

$arm_upperhalf_top: 40px;		  /* outfit0_ */
$arm_lowerhalf_top: 88px; 		  /* outfit0_ */
$arm_hand_top: 128px; 			  /* outfit0_ */






$outfit_right_x: 512px;			/* Affects every 2nd, 4th, 6th, and 8th outfit in each atlas. */
$outfitC_y: 256px;				/* Affects every 3rd outfit in each atlas. */
$outfitE_y: 512px;				/* Affects every 5th outfit in each atlas. */
$outfitG_y: 768px;				/* Affects every 7th outfit in each atlas. */