body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  text-align: center;
  background-color: lightgray;
  background-image: url('./Images/metal_background.jpg');
}

.App {
  top: 2em;
  position: relative;
  margin: 0 auto 40px auto;
  text-align: center;
  width: 800px;
  background-color: rgb(0, 0, 0, 0.9);
  min-height: 1490px;
  padding: 15px 35px;
  color: #00ff2b;
}

#logo {
  margin: 25px;
}

#logo img {
  max-width: 300px;
  height:auto;
  background-color: #FFF;
  padding: 25px;
}

#logo h1 {
  margin: 0;
}


.atlas01, .atlas02, .atlas03, .atlas04, .atlas05, .atlas06, .atlas07, .atlas08, .atlas09, .atlas17, .atlas18, .atlas21 {
  background-repeat: no-repeat;
}

.atlas01 {
  background-image: url('./Images/atlas01_2.png');
}

.atlas02 {
  background-image: url('./Images/atlas02.png');
}

.atlas03 {
  background-image: url('./Images/atlas03_2.png');
}

.atlas04 {
  background-image: url('./Images/atlas04.png');
}

.atlas05 {
  background-image: url('./Images/atlas05.png');
}

.atlas06 {
  background-image: url('./Images/atlas06.png');
}

.atlas07 {
  background-image: url('./Images/atlas07.png');
 }

.atlas08 {
  background-image: url('./Images/atlas08.png');
}

.atlas09 {
  background-image: url('./Images/atlas09.png');
}

.atlas17 {
  background-image: url('./Images/atlas17_2.png');
}

.atlas18 {
  background-image: url('./Images/atlas18.png');
}

.atlas21 {
  background-image: url('./Images/atlas21.png');
}