body {
  background-color: lightgray;
  /*background-image: url('./Images/Wiki-background.jpg');*/
  background-image: url('./Images/atlas_2_day.jpeg');
  background-repeat: repeat-x;
  background-color: #151212;
  cursor: url('./Cursors/default.png'), auto;
}

.text, .prevNextType, .labelType, .styleType, .genderText {
  margin: 0 auto;
  max-width: 350px;
  cursor: url('./Cursors/text.png'), auto;
}

.prevNextButton,
.slider,
.btnRandom {
  cursor: url('./Cursors/pointer.png'), auto;
}

@font-face {
  font-family: monoFonto;
  src: url('./Fonts/monofonto.ttf');
}

@font-face {
  font-family: overseer;
  src: url('./Fonts/Overseer.otf');
}

@font-face {
  font-family: futuraCondensedPT;
  src: url('./Fonts/futura-condensed-pt-medium.woff');
}






.atlas01 {
  background-image: url('./Images/atlas01_2.png');
}

.atlas02 {
  background-image: url('./Images/atlas02.png');
}

.atlas03 {
  background-image: url('./Images/atlas03_2.png');
}

.atlas04 {
  background-image: url('./Images/atlas04.png');
}

.atlas05 {
  background-image: url('./Images/atlas05.png');
}

.atlas06 {
  background-image: url('./Images/atlas06.png');
}

.atlas07 {
  background-image: url('./Images/atlas07.png');
 }

.atlas08 {
  background-image: url('./Images/atlas08.png');
}

.atlas09 {
  background-image: url('./Images/atlas09.png');
}

.atlas10 {
  background-image: url('./Images/atlas10.png');
}

.atlas17 {
  background-image: url('./Images/atlas17_2.png');
}

.atlas18 {
  background-image: url('./Images/atlas18.png');
}

.atlas21 {
  background-image: url('./Images/atlas21.png');
}