@import 'mixins';

.atlas17 {
  background-image: url('./Images/atlas17_2.png');
  background-repeat: no-repeat;

  //border: 1px solid black;
}


#vb_hair1 {
  background-position: $vb_hair1_x $vb_hairB_y;
}

#vb_hair2 {
  background-position: $vb_hair1_x $vb_hairC_y;
}

#vb_hair3 {
  background-position: $vb_hair1_x $vb_hairD_y;
}

#vb_hair4 {
  background-position: $vb_hair1_x $vb_hairE_y;
}

#vb_hair5 {
  background-position: $vb_hair1_x $vb_hairF_y;
}

#vb_hair6 {
  background-position: $vb_hair1_x $vb_hairG_y;
}

#vb_hair7 {
  background-position: $vb_hair1_x $vb_hairH_y;
}

#vb_hair8 {
  background-position: $vb_hair1_x $vb_hairI_y;
}

#vb_hair9 {
  background-position: ($vb_hair2_x - 22) $vb_hairA_y;
}

#vb_hair10 {
  background-position: $vb_hair2_x $vb_hairB_y;
}

#vb_hair11 {
  background-position: $vb_hair2_x $vb_hairC_y;
}

#vb_hair12 {
  background-position: $vb_hair2_x $vb_hairD_y;
}

#vb_hair13 {
  background-position: $vb_hair2_x $vb_hairE_y;
}

#vb_hair14 {
  background-position: ($vb_hair2_x + 2) ($vb_hairF_y + 2);
}

#vb_hair15 {
  background-position: $vb_hair2_x $vb_hairG_y;
}

#vb_hair16 {
  background-position: $vb_hair2_x ($vb_hairH_y + 4);
}

#vb_hair17 {
  background-position: $vb_hair2_x ($vb_hairI_y + 6);
}

#vb_hair18 { /* Kindof Samie */
  background-position: ($vb_hair3_x - 21) $vb_hairA_y;
}

#vb_hair19 { /* Kindof Samie */
  background-position: $vb_hair3_x ($vb_hairB_y - 20);
}

#vb_hair20 {
  background-position: $vb_hair3_x ($vb_hairC_y - 17);
}

#vb_hair21 { /* Also kindof Samie */
  background-position: $vb_hair3_x ($vb_hairD_y - 17);
}

#vb_hair22 { /* Also kindof Samie */
  background-position: $vb_hair3_x ($vb_hairE_y - 17);
}

#vb_hair23 {
  background-position: ($vb_hair3_x - 2) ($vb_hairF_y - 14);
}

#vb_hair24 {
  background-position: ($vb_hair3_x - 2) ($vb_hairG_y - 11);
}

#vb_hair25 {
  background-position: ($vb_hair3_x) ($vb_hairH_y - 16);
}





#vs_hat1 /* Metal armor */ {
  background-position: -869px -910px;
}



#vs_hat2 /* Mascot head */ {
  background-position: -850px -802px;
}


#vs_hat3 /* Military Helmet */ {
  background-position: -850px -688px;
}

#vs_hat4 {
  background-position: -850px -580px;
}

#vs_hat5 { /* Ninja */
  background-position: -850px -470px;
}

#vs_hat6 { /* Comedian */
  background-position: -850px -360px;
}

#vs_hat7 {
  background-position: -850px -250px;
}

#vs_hat8 {
  background-position: -850px -140px;
}

#vs_hat9 {
  background-position: -850px -30px;
}

#vs_hat10 { /* Wasteland gear */
  background-position: -755px -916px;
}

#vs_hat11 { /* Ghost costume */
  background-position: -730px -803px;
}

#vs_hat12 { /* Shower cap */
  background-position: -730px -690px;
}

#vs_hat13 { /* Face wrap */
  background-position: -730px -581px;
}

#vs_hat14 { /* Hockey hat */
  background-position: -730px -480px;
}

#vs_hat15 { /* Crown */
  background-position: -735px -350px;
}

#vs_hat16 { /* Knight */
  background-position: -735px -243px;
}

#vs_hat17 { /* Sailing guy */
  background-position: -735px -123px;
}

#vs_hat18 { /* Wrestler */
  background-position: -730px -23px;
}

#vs_hat19 { /* Cat */
  background-position: -640px -910px;
}

#vs_hat20 { /* Baseball */
  background-position: -625px -798px;
}

#vs_hat21 { /* Another crown */
  background-position: -625px -690px;
}

#vs_hat22 { /* Combat armor */
  background-position: -625px -575px;
}

#vs_hat23 { /* Cowboy */
  background-position: -615px -465px;
}

#vs_hat24 { /* Elf */
  background-position: -615px -358px;
}

#vs_hat25 { /* Radiation */
  background-position: -615px -246px;
}


#vs_hat26 { /* Spock ears */
  background-position: -615px -126px;
}

#vs_hat27 { /* Spock ears */
  background-position: -615px -26px;
}

#vs_hat28 { /* Aviator hat */
  background-position: -505px -25px;
}
