.atlas07 {
  background-image: url('./Images/atlas07.png');
  background-repeat: no-repeat;
  //border: 1px solid black;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


$backleg_upperhalf_width: 105px;
$backleg_upperhalf_height: 65px;

$backleg_lowerhalf_width: 87px;
$backleg_lowerhalf_height: 60px;

$foot_width: 60px;
$foot_height: 55px;

$frontleg_upperhalf_width: 100px;
$frontleg_upperhalf_height: 60px;

$frontleg_lowerhalf_width: 87px;
$frontleg_lowerhalf_height: 55px;

$chest_width: 100px;
$chest_height: 120px;

$crotch_width: 90px;
$crotch_height: 90px;

$backarm_lowerhalf_width: 80px;
$backarm_lowerhalf_height: 50px;

$backarm_upperhalf_width: 90px;
$backarm_upperhalf_height: 50px;

$frontarm_lowerhalf_width: 85px;
$frontarm_lowerhalf_height: 55px;

$frontarm_upperhalf_width: 110px;
$frontarm_upperhalf_height: 60px;



$leg_upperhalf_x: -75px;
$leg_lowerhalf_x: -185px;
$foot_x: -295px;
$chest_x: -120px;
$crotch_x: -230px;
$arm_lowerhalf_x: -320px;
$arm_upperhalf_x: -405px;

$backleg_y: -5px;
$frontleg_y: -70px;
$chest_y: -135px;
$crotch_y: -160px;
$backarm_y: -140px;
$frontarm_y: -190px;

$outfit_right_x: 512px;
$outfit3_y: 256px;
$outfit5_y: 512px;
$outfit7_y: 768px;





/* Outfit 42 - Raider armor */
#outfit42_backleg_upperhalf {
  width: $backleg_upperhalf_width;
  height: $backleg_upperhalf_height;
  background-position: ($leg_upperhalf_x - $outfit_right_x) $backleg_y;
}

#outfit42_backleg_lowerhalf {
  width: $backleg_lowerhalf_width;
  height: $backleg_lowerhalf_height;
  background-position: ($leg_lowerhalf_x - $outfit_right_x) $backleg_y;
}

#outfit42_backleg_foot {
	width: $foot_width;
  	height: $foot_height;
  background-position: ($foot_x - $outfit_right_x) $backleg_y;
}


#outfit42_frontleg_upperhalf {
	width: $frontleg_upperhalf_width;
  	height: $frontleg_upperhalf_height;
  background-position: ($leg_upperhalf_x - $outfit_right_x) $frontleg_y;
}

#outfit42_frontleg_lowerhalf {
  width: $frontleg_lowerhalf_width;
  height: $frontleg_lowerhalf_height;
  background-position: ($leg_lowerhalf_x - $outfit_right_x) $frontleg_y;
}

#outfit42_frontleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: ($foot_x - $outfit_right_x) ($frontleg_y + 10);
}


#outfit42_chest {
  width: $chest_width;
  height: $chest_height;
  background-position: ($chest_x - $outfit_right_x) $chest_y;
}

#outfit42_crotch {
  width: $crotch_width;
  height: $crotch_height;
  background-position: ($crotch_x - $outfit_right_x) $crotch_y;
}


#outfit42_backarm_lowerhalf {
  width: $backarm_lowerhalf_width;
  height: $backarm_lowerhalf_height;
  background-position: ($arm_lowerhalf_x - $outfit_right_x) $backarm_y;
}

#outfit42_frontarm_lowerhalf {
  width: $frontarm_lowerhalf_width;
  height: $frontarm_lowerhalf_height;
  background-position: ($arm_lowerhalf_x - $outfit_right_x) $frontarm_y;
}

#outfit42_frontarm_upperhalf {
  width: $frontarm_upperhalf_width;
  height: $frontarm_upperhalf_height;
  background-position: ($arm_upperhalf_x - $outfit_right_x) $frontarm_y;
}
