@import 'mixins';

.atlas02 {
  background-image: url('./Images/atlas02.png');
  background-repeat: no-repeat;
  //border: 1px solid black;
}

/* Outfit1 - Advanced BoS uniform */
#outfit1_backleg_upperhalf {
  background-position: $leg_upperhalf_x $backleg_y;
}

#outfit1_backleg_lowerhalf {
  width: $backleg_lowerhalf_width;
  height: $backleg_lowerhalf_height;
  background-position: $leg_lowerhalf_x $backleg_y;
}

#outfit1_backleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: $foot_x $backleg_y;
}

#outfit1_frontleg_upperhalf {
  background-position: $leg_upperhalf_x $frontleg_y;
}

#outfit1_frontleg_lowerhalf {
  width: $frontleg_lowerhalf_width;
  height: $frontleg_lowerhalf_height;
  background-position: $leg_lowerhalf_x $frontleg_y;
}

#outfit1_frontleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: $foot_x ($frontleg_y + 10);
}

#outfit1_chest {
  width: $chest_width;
  height: $chest_height;
  background-position: $chest_x $chest_y;
}

#outfit1_crotch {
  width: $crotch_width;
  height: $crotch_height;
  background-position: $crotch_x $crotch_y;
}

#outfit1_backarm_lowerhalf {
  width: $backarm_lowerhalf_width;
  height: $backarm_lowerhalf_height;
  background-position: $arm_lowerhalf_x $backarm_y;
}

#outfit1_backarm_upperhalf {
  width: $backarm_upperhalf_width;
  height: $backarm_upperhalf_height;
  background-position: $arm_upperhalf_x $backarm_y;
}

#outfit1_frontarm_lowerhalf {
  width: $frontarm_lowerhalf_width;
  height: $frontarm_lowerhalf_height;
  background-position: $arm_lowerhalf_x $frontarm_y;
}

#outfit1_frontarm_upperhalf {
  width: $frontarm_upperhalf_width;
  height: $frontarm_upperhalf_height;
  background-position: $arm_upperhalf_x $frontarm_y;
}



/* Outfit2 - Expert BoS uniform */
#outfit2_backleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) $backleg_y;
}

#outfit2_backleg_lowerhalf {
  width: $backleg_lowerhalf_width;
  height: $backleg_lowerhalf_height;
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) $backleg_y;
}

#outfit2_backleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: ($foot_x - $outfit_BDFH_x) $backleg_y;
}

#outfit2_frontleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) $frontleg_y;
}

#outfit2_frontleg_lowerhalf {
  width: $frontleg_lowerhalf_width;
  height: $frontleg_lowerhalf_height;
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) $frontleg_y;
}

#outfit2_frontleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: ($foot_x - $outfit_BDFH_x) ($frontleg_y + 10);
}

#outfit2_chest {
  width: $chest_width;
  height: $chest_height;
  background-position: ($chest_x - $outfit_BDFH_x) $chest_y;
}

#outfit2_crotch {
  width: $crotch_width;
  height: $crotch_height;
  background-position: ($crotch_x - $outfit_BDFH_x) $crotch_y;
}

#outfit2_backarm_lowerhalf {
  width: $backarm_lowerhalf_width;
  height: $backarm_lowerhalf_height;
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) $backarm_y;
}

#outfit2_backarm_upperhalf {
  width: $backarm_upperhalf_width;
  height: $backarm_upperhalf_height;
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) $backarm_y;
}

#outfit2_frontarm_lowerhalf {
  width: $frontarm_lowerhalf_width;
  height: $frontarm_lowerhalf_height;
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) $frontarm_y;
}

#outfit2_frontarm_upperhalf {
  width: $frontarm_upperhalf_width;
  height: $frontarm_upperhalf_height;
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) $frontarm_y;
}



/* Outfit3 - Clergy outfit */
#outfit3_backleg_upperhalf {
  background-position: $leg_upperhalf_x ($backleg_y - $outfitC_y);
}

#outfit3_backleg_lowerhalf {
  width: $backleg_lowerhalf_width;
  height: $backleg_lowerhalf_height;
  background-position: $leg_lowerhalf_x ($backleg_y - $outfitC_y);
}

#outfit3_backleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: $foot_x ($backleg_y - $outfitC_y);
}

#outfit3_frontleg_upperhalf {
  background-position: $leg_upperhalf_x ($frontleg_y - $outfitC_y);
}

#outfit3_frontleg_lowerhalf {
  width: $frontleg_lowerhalf_width;
  height: $frontleg_lowerhalf_height;
  background-position: $leg_lowerhalf_x ($frontleg_y - $outfitC_y);
}

#outfit3_frontleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: $foot_x (($frontleg_y + 10) - $outfitC_y);
}

#outfit3_back_hem {
  width: $back_hem_width;
  height: $hem_height;
  background-position: $back_hem_x (-5px - $outfitC_y);
}

#outfit3_front_hem {
  width: $front_hem_width;
  height: $hem_height;
  background-position: $front_hem_x (-5px - $outfitC_y);
}

#outfit3_chest {
  width: $chest_width;
  height: $chest_height;
  background-position: $chest_x ($chest_y - $outfitC_y);
}

#outfit3_crotch {
  width: $crotch_width;
  height: $crotch_height;
  background-position: $crotch_x ($crotch_y - $outfitC_y);
}

#outfit3_backarm_lowerhalf {
  width: $backarm_lowerhalf_width;
  height: $backarm_lowerhalf_height;
  background-position: $arm_lowerhalf_x ($backarm_y - $outfitC_y);
}

#outfit3_backarm_upperhalf {
  width: $backarm_upperhalf_width;
  height: $backarm_upperhalf_height;
  background-position: $arm_upperhalf_x ($backarm_y - $outfitC_y);
}

#outfit3_frontarm_lowerhalf {
  width: $frontarm_lowerhalf_width;
  height: $frontarm_lowerhalf_height;
  background-position: $arm_lowerhalf_x ($frontarm_y - $outfitC_y);
}

#outfit3_frontarm_upperhalf {
  width: $frontarm_upperhalf_width;
  height: $frontarm_upperhalf_height;
  background-position: $arm_upperhalf_x ($frontarm_y - $outfitC_y);
}



/* Outfit 4 - BOS uniform */
#outfit4_backleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitC_y);
}

#outfit4_backleg_lowerhalf {
  width: $backleg_lowerhalf_width;
  height: $backleg_lowerhalf_height;
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitC_y);
}

#outfit4_backleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: ($foot_x - $outfit_BDFH_x) ($backleg_y - $outfitC_y);
}

#outfit4_frontleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitC_y);
}

#outfit4_frontleg_lowerhalf {
  width: $frontleg_lowerhalf_width;
  height: $frontleg_lowerhalf_height;
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitC_y);
}

#outfit4_frontleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: ($foot_x - $outfit_BDFH_x) (($frontleg_y + 10) - $outfitC_y);
}

#outfit4_chest {
  width: $chest_width;
  height: $chest_height;
  background-position: ($chest_x - $outfit_BDFH_x) ($chest_y - $outfitC_y);
}

#outfit4_crotch {
  width: $crotch_width;
  height: $crotch_height;
  background-position: ($crotch_x - $outfit_BDFH_x) ($crotch_y - $outfitC_y);
}

#outfit4_backarm_lowerhalf {
  width: $backarm_lowerhalf_width;
  height: $backarm_lowerhalf_height;
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitC_y);
}

#outfit4_backarm_upperhalf {
  width: $backarm_upperhalf_width;
  height: $backarm_upperhalf_height;
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitC_y);
}

#outfit4_frontarm_lowerhalf {
  width: $frontarm_lowerhalf_width;
  height: $frontarm_lowerhalf_height;
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitC_y);
}

#outfit4_frontarm_upperhalf {
  width: $frontarm_upperhalf_width;
  height: $frontarm_upperhalf_height;
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitC_y);
}



/* Outfit 5 - Baseball uniform */
#outfit5_backleg_upperhalf {
  background-position: $leg_upperhalf_x ($backleg_y - $outfitE_y);
}

#outfit5_backleg_lowerhalf {
  width: $backleg_lowerhalf_width;
  height: $backleg_lowerhalf_height;
  background-position: $leg_lowerhalf_x ($backleg_y - $outfitE_y);
}

#outfit5_backleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: $foot_x ($backleg_y - $outfitE_y);
}

#outfit5_frontleg_upperhalf {
  background-position: $leg_upperhalf_x ($frontleg_y - $outfitE_y);
}

#outfit5_frontleg_lowerhalf {
  width: $frontleg_lowerhalf_width;
  height: $frontleg_lowerhalf_height;
  background-position: $leg_lowerhalf_x ($frontleg_y - $outfitE_y);
}

#outfit5_frontleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: $foot_x (($frontleg_y + 10) - $outfitE_y);
}

#outfit5_chest {
  width: $chest_width;
  height: $chest_height;
  background-position: $chest_x ($chest_y - $outfitE_y);
}

#outfit5_crotch {
  width: $crotch_width;
  height: $crotch_height;
  background-position: $crotch_x ($crotch_y - $outfitE_y);
}

#outfit5_backarm_lowerhalf { /* Shorter sleeves. */
  top: 95px;
  left: 13px;
  width: $backarm_lowerhalf_width;
  height: $backarm_lowerhalf_height;
  background-position: $arm_lowerhalf_x - 10 ($backarm_y - $outfitE_y);
}

#outfit5_backarm_upperhalf {
  width: $backarm_upperhalf_width;
  height: $backarm_upperhalf_height;
  background-position: $arm_upperhalf_x ($backarm_y - $outfitE_y);
}

#outfit5_frontarm_lowerhalf { /* Shorter sleeves. */
  top: 90px;
  left: 10px;
  width: $frontarm_lowerhalf_width - 10;
  height: $frontarm_lowerhalf_height;
  background-position: $arm_lowerhalf_x - 10 ($frontarm_y - $outfitE_y);
}

#outfit5_frontarm_upperhalf {
  width: $frontarm_upperhalf_width;
  height: $frontarm_upperhalf_height;
  background-position: $arm_upperhalf_x ($frontarm_y - $outfitE_y);
}



/* Outfit 6 - Battle armor */
#outfit6_backleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitE_y);
}

#outfit6_backleg_lowerhalf {
  width: $backleg_lowerhalf_width;
  height: $backleg_lowerhalf_height;
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitE_y);
}

#outfit6_backleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: ($foot_x - $outfit_BDFH_x) ($backleg_y - $outfitE_y);
}

#outfit6_frontleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitE_y);
}

#outfit6_frontleg_lowerhalf {
  width: $frontleg_lowerhalf_width;
  height: $frontleg_lowerhalf_height;
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitE_y);
}

#outfit6_frontleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: ($foot_x - $outfit_BDFH_x) (($frontleg_y + 10) - $outfitE_y);
}

#outfit6_chest {
  width: $chest_width;
  height: $chest_height;
  background-position: ($chest_x - $outfit_BDFH_x) ($chest_y - $outfitE_y);
}

#outfit6_crotch {
  width: $crotch_width;
  height: $crotch_height;
  background-position: ($crotch_x - $outfit_BDFH_x) ($crotch_y - $outfitE_y);
}

#outfit6_backarm_lowerhalf {
  width: $backarm_lowerhalf_width;
  height: $backarm_lowerhalf_height;
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitE_y);
}

#outfit6_backarm_upperhalf {
  width: $backarm_upperhalf_width;
  height: $backarm_upperhalf_height;
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitE_y);
}

#outfit6_frontarm_lowerhalf {
  width: $frontarm_lowerhalf_width;
  height: $frontarm_lowerhalf_height;
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitE_y);
}

#outfit6_frontarm_upperhalf {
  width: $frontarm_upperhalf_width;
  height: $frontarm_upperhalf_height;
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitE_y);
}



/* Outfit 7 - Male Body */
#outfit7_backleg_upperhalf {
  width: $backleg_upperhalf_width;
  height: $backleg_upperhalf_height;
  background-position: $leg_upperhalf_x ($backleg_y - $outfitG_y);
}

#outfit7_backleg_lowerhalf {
  width: $backleg_lowerhalf_width;
  height: $backleg_lowerhalf_height;
  background-position: $leg_lowerhalf_x ($backleg_y - $outfitG_y);
}

#outfit7_backleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: $foot_x ($backleg_y - $outfitG_y);
}

#outfit7_frontleg_upperhalf {
  width: $frontleg_upperhalf_width;
  height: $frontleg_upperhalf_height;
  background-position: $leg_upperhalf_x ($frontleg_y - $outfitG_y);
}

#outfit7_frontleg_lowerhalf {
  width: $frontleg_lowerhalf_width;
  height: $frontleg_lowerhalf_height;
  background-position: $leg_lowerhalf_x ($frontleg_y - $outfitG_y);
}

#outfit7_frontleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: $foot_x (($frontleg_y + 10) - $outfitG_y);
}

#outfit7_head {
  width: 95px;
  height: 105px;
  background-position: -15px (-150px - $outfitG_y);
}

#outfit7_chest {
  width: $chest_width;
  height: $chest_height;
  background-position: $chest_x ($chest_y - $outfitG_y);
}

#outfit7_crotch {
  width: $crotch_width;
  height: $crotch_height;
  background-position: $crotch_x ($crotch_y - $outfitG_y);
}

#outfit7_backarm_lowerhalf {
  width: $backarm_lowerhalf_width;
  height: $backarm_lowerhalf_height;
  background-position: $arm_lowerhalf_x ($backarm_y - $outfitG_y);
}

#outfit7_backarm_upperhalf {
  width: $backarm_upperhalf_width;
  height: $backarm_upperhalf_height;
  background-position: $arm_upperhalf_x ($backarm_y - $outfitG_y);
}

#outfit7_frontarm_lowerhalf {
  width: $frontarm_lowerhalf_width;
  height: $frontarm_lowerhalf_height;
  background-position: $arm_lowerhalf_x ($frontarm_y - $outfitG_y);
}

#outfit7_frontarm_upperhalf {
  width: $frontarm_upperhalf_width;
  height: $frontarm_upperhalf_height;
  background-position: $arm_upperhalf_x ($frontarm_y - $outfitG_y);
}



/* Outfit 8 - Tenpenny's Suit */
#outfit8_backleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitG_y);
}

#outfit8_backleg_lowerhalf {
  width: $backleg_lowerhalf_width;
  height: $backleg_lowerhalf_height;
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($backleg_y - $outfitG_y);
}

#outfit8_backleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: ($foot_x - $outfit_BDFH_x) ($backleg_y - $outfitG_y);
}

#outfit8_frontleg_upperhalf {
  background-position: ($leg_upperhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitG_y);
}

#outfit8_frontleg_lowerhalf {
  width: $frontleg_lowerhalf_width;
  height: $frontleg_lowerhalf_height;
  background-position: ($leg_lowerhalf_x - $outfit_BDFH_x) ($frontleg_y - $outfitG_y);
}

#outfit8_frontleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: ($foot_x - $outfit_BDFH_x) (($frontleg_y + 10) - $outfitG_y);
}

#outfit8_chest {
  width: $chest_width;
  height: $chest_height;
  background-position: ($chest_x - $outfit_BDFH_x) ($chest_y - $outfitG_y);
}

#outfit8_crotch {
  width: $crotch_width;
  height: $crotch_height;
  background-position: ($crotch_x - $outfit_BDFH_x) ($crotch_y - $outfitG_y);
  transform: scaleX(1);
}

#outfit8_backarm_lowerhalf {
  width: $backarm_lowerhalf_width;
  height: $backarm_lowerhalf_height;
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitG_y);
}

#outfit8_backarm_upperhalf {
  width: $backarm_upperhalf_width;
  height: $backarm_upperhalf_height;
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($backarm_y - $outfitG_y);
}

#outfit8_frontarm_lowerhalf {
  width: $frontarm_lowerhalf_width;
  height: $frontarm_lowerhalf_height;
  background-position: ($arm_lowerhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitG_y);
}

#outfit8_frontarm_upperhalf {
  width: $frontarm_upperhalf_width;
  height: $frontarm_upperhalf_height;
  background-position: ($arm_upperhalf_x - $outfit_BDFH_x) ($frontarm_y - $outfitG_y);
}