@import 'mixins';

/* Outfit 7 - Male Hands Open */
#vb_backarm_handopen {
  width: 65px;
  height: 55px;
  background-position: -150px -145px
}

#vb_frontarm_handopen {
  width: 65px;
  height: 55px;
  background-position: -145px -200px
}


#vs_hat29 { /* Fedora */
    background-position: -806px -908px;
}

#vs_hat30 { /* Santa */
    background-position: -692px -908px;
}

#vs_hat31 { /* Cowboy */
    background-position: -574px -908px;
}

#vs_hat32 { /* BOS */
    background-position: -460px -915px;
    width: 116px;
}

#vs_hat33 { /* Eulogy Jones */
    background-position: -345px -905px;
}

#vs_hat34 { /* Pirate */
    background-position: -234px -905px;
}

#vs_hat35 { /* Pilgrim */
    background-position: -115px -905px;
}

#vs_hat36 { /* Party */
    background-position: 0px -910px;
}

#vs_hat37 { /* Skeleton Costume */
    background-position: 0px -800px;
}

#vs_hat38 { /* Swimming Goggles */
    background-position: 0px -700px;
}

#vs_hat39 { /* Synth Helmet */
    background-position: 0px -585px;
}

#vs_hat40 { /* Three Dog */
    background-position: 0px -470px;
}
