@import 'mixins';

/* Outfit 7 - Male Hands Open */
#vb_backarm_handopen {
  width: 65px;
  height: 55px;
  background-position: -150px -145px
}

#vb_frontarm_handopen {
  width: 65px;
  height: 55px;
  background-position: -145px -200px
}


#vs_hat29 { /* Silver Shroud hat */
  left: -107px;
  top: -20px;
  width: 120px;
    background-position: -805px -905px;
}

#vs_hat30 { /* Santa suit */
  top: -20px;
  left: -90px;
    background-position: -692px -905px;
}

#vs_hat31 { /* Minuteman uniform */
  left: -108px;
  top: -16px;
  width: 120px;
    background-position: -574px -905px; /* Needs to be very close to right edge. */
}

#vs_hat32 { /* T-45 power armor */
    left: -105px;
    top: -5px;
    background-position: -460px -915px;
    width: 116px;
}

#vs_hat33 { /* Eulogy Jones' outfit */
    left: -100px;
    top: -18px;
    background-position: -350px -905px;
}

#vs_hat34 { /* Pirate hat and eyepatch */
    left: -107px;
    top: -20px;
    width: 120px;
    background-position: -230px -905px;
}

#vs_hat35 { /* Pilgrim outfit */
    top: -28px;
  left: -105px;
    background-position: -118px -905px;
}

#vs_hat36 { /* Party hat */
    left: -95px;
    top: -18px;
    background-position: -5px -910px;
}

#vs_hat37 { /* Skeleton costume */
    left: -108px;
    top: -18px;
    background-position: 0px -795px;
}

#vs_hat38 { /* Swimsuit outfit */
  left: -102px;
    top: -14px;
    background-position: 0px -700px;
}

#vs_hat39 { /* Synth armor */
    left: -108px;
    top: -6px;
    background-position: 0px -585px;
}

#vs_hat40 { /* Three Dog's outfit */
    left: -108px;
    top: -10px;
    background-position: 0px -470px;
}
