@import 'mixins';

.atlas17 {
  background-image: url('./Images/atlas17_2.png');
  background-repeat: no-repeat;

  //border: 1px solid black;
}


#vb_hair1 {
  background-position: $vb_hair1_x $vb_hairB_y;
}

#vb_hair2 {
  background-position: $vb_hair1_x $vb_hairC_y;
}

#vb_hair3 {
  background-position: $vb_hair1_x $vb_hairD_y;
}

#vb_hair4 {
  background-position: $vb_hair1_x $vb_hairE_y;
}

#vb_hair5 {
  background-position: $vb_hair1_x $vb_hairF_y;
}

#vb_hair6 {
  background-position: $vb_hair1_x $vb_hairG_y;
}

#vb_hair7 {
  background-position: $vb_hair1_x $vb_hairH_y;
}

#vb_hair8 {
  background-position: $vb_hair1_x $vb_hairI_y;
}

#vb_hair9 {
  background-position: ($vb_hair2_x - 22) $vb_hairA_y;
}

#vb_hair10 {
  background-position: $vb_hair2_x $vb_hairB_y;
}

#vb_hair11 {
  background-position: $vb_hair2_x $vb_hairC_y;
}

#vb_hair12 {
  background-position: $vb_hair2_x $vb_hairD_y;
}

#vb_hair13 {
  background-position: $vb_hair2_x $vb_hairE_y;
}

#vb_hair14 {
  background-position: ($vb_hair2_x + 2) ($vb_hairF_y + 2);
}

#vb_hair15 {
  background-position: $vb_hair2_x $vb_hairG_y;
}

#vb_hair16 {
  background-position: $vb_hair2_x ($vb_hairH_y + 4);
}

#vb_hair17 {
  background-position: $vb_hair2_x ($vb_hairI_y + 6);
}

#vb_hair18 { /* Kindof Samie */
  background-position: ($vb_hair3_x - 21) $vb_hairA_y;
}

#vb_hair19 { /* Kindof Samie */
  background-position: $vb_hair3_x ($vb_hairB_y - 20);
}

#vb_hair20 {
  background-position: $vb_hair3_x ($vb_hairC_y - 17);
}

#vb_hair21 { /* Also kindof Samie */
  background-position: $vb_hair3_x ($vb_hairD_y - 17);
}

#vb_hair22 { /* Also kindof Samie */
  background-position: $vb_hair3_x ($vb_hairE_y - 17);
}

#vb_hair23 {
  background-position: ($vb_hair3_x - 2) ($vb_hairF_y - 14);
}

#vb_hair24 {
  background-position: ($vb_hair3_x - 2) ($vb_hairG_y - 11);
}

#vb_hair25 {
  background-position: ($vb_hair3_x) ($vb_hairH_y - 16);
}





#vb_mask7 /* Dead Bear Mask */ {
	left: -10px;
	top: -10px;
  width: 120px;
  height: 115px;
  background-position: -845px -800px;
  z-index: 99;
  position: absolute;
}



