@import 'mixins';

.feral_ghoul {
  background-image: url('./Images/TXT_FeralGhoul.png');
  background-repeat: no-repeat;
  //border: 1px solid black;
}

/*#outfit7_backarm_handopen*/
#outfit58_backarm_hand 
{
  width: 65px;
  height: 55px;
    background-position: -5px -15px;
  left: 29px;
  top: $arm_hand_top;
  transform: scaleX(-1) rotate(-90deg);
  z-index: 50;
    background-image: url('./Images/TXT_FeralGhoul.png');
}

/*#outfit7_frontarm_handopen*/
#outfit58_frontarm_hand 
{
  left: 18px;
  top: $arm_hand_top + 9;
  transform: scaleY(-1) rotate(-90deg);
  z-index: 50;
    background-image: url('./Images/TXT_FeralGhoul.png');
      width: 65px;
  height: 55px;
  background-position: -5px -73px;
  //border: black 1px solid;
}






/* Outfit 58 - Feral Ghoul */
#outfit58_backleg_upperhalf {
  width: $backleg_upperhalf_width;
  height: $backleg_upperhalf_height;
  background-position: $leg_upperhalf_x $backleg_y;
}

#outfit58_backleg_lowerhalf {
  width: $backleg_lowerhalf_width;
  height: $backleg_lowerhalf_height;
  background-position: $leg_lowerhalf_x $backleg_y;
}

#outfit58_backleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: $foot_x $backleg_y;
}

#outfit58_frontleg_upperhalf {
  width: $frontleg_upperhalf_width;
  height: $frontleg_upperhalf_height;
  background-position: $leg_upperhalf_x $frontleg_y;
}

#outfit58_frontleg_lowerhalf {
  width: $frontleg_lowerhalf_width;
  height: $frontleg_lowerhalf_height;
  background-position: $leg_lowerhalf_x $frontleg_y;
}

#outfit58_frontleg_foot {
  width: $foot_width;
  height: $foot_height;
  background-position: $foot_x ($frontleg_y + 10);
}

#outfit58_head 
	/*#vs_head */
	{
  width: 95px;
  height: 105px;
  background-position: -14px -148px;
  background-image: url('./Images/TXT_FeralGhoul.png');
  z-index: 99;
  transform: scaleX(-1);
  left: $head_left;
  top: $head_top;
}

#outfit58_chest {
  width: $chest_width;
  height: $chest_height;
  background-position: $chest_x $chest_y;
}

#outfit58_crotch {
  width: $crotch_width;
  height: $crotch_height;
  background-position: $crotch_x $crotch_y;
}

#outfit58_backarm_lowerhalf {
  width: $backarm_lowerhalf_width;
  height: $backarm_lowerhalf_height;
  background-position: $arm_lowerhalf_x $backarm_y;
}

#outfit58_backarm_upperhalf {
  width: $backarm_upperhalf_width;
  height: $backarm_upperhalf_height;
  background-position: $arm_upperhalf_x $backarm_y;
}

#outfit58_frontarm_lowerhalf {
  width: $frontarm_lowerhalf_width;
  height: $frontarm_lowerhalf_height;
  background-position: $arm_lowerhalf_x $frontarm_y;
}

#outfit58_frontarm_upperhalf {
  width: $frontarm_upperhalf_width;
  height: $frontarm_upperhalf_height;
  background-position: $arm_upperhalf_x $frontarm_y;
}
