@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.App {
  top: 2em;
  position: relative;
  margin: 0 auto 40px auto;
  text-align: center;
  width: 800px;
  background-color: rgb(0, 0, 0, 0.9);
  min-height: 1490px;
  padding: 15px 35px;
  color: #00ff2b;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: monoFonto, 'Roboto Condensed', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.atlas01, .atlas02, .atlas03, .atlas04, .atlas05, .atlas06, .atlas07, .atlas08, .atlas09, .atlas10, .atlas17, .atlas18, .atlas21 {
  background-repeat: no-repeat;
}

#logo {
  margin: 25px;
}

#logo img {
  max-width: 300px;
  height:auto;
  background-color: #FFF;
  padding: 25px;
}

#logo h1 {
  margin: 0;
  font-size: 100%;
  font-weight: lighter;
	font: inherit;
	vertical-align: baseline;
	letter-spacing: 2px;
  font-size: 50px;
  	font-family: monoFonto, 'Roboto Condensed', futuraCondensedPT, Overseer, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
	color: #00ff2b;
text-shadow: 0 0 5px #003308, 0 0 10px #003308, 0 0 15px #B2FFBF, 0 0 20px #233326;
}

#allButtons, #genderButtons, #displaySelections {
	font-family: 'Roboto Condensed', monoFonto, futuraCondensedPT, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#allButtons {
	margin: 25px;
	padding: 16px 8px;
	position: relative;
	border: 3px #16ce15 solid;
	/*background: rgb(3,27,1, .6);*/
	background: rgb(13,66,8, .8);
	color: #00ff2b;
	float: right;
}

#displaySelections {
	margin: 10px 25px;
		width: 350px;
	padding: 16px 8px;
	position: relative;
	border: 3px #16ce15 solid;
	background: rgb(13,66,8, .8);
	color: #00ff2b;
	font-size: 20px;
	right: 0px;
	float: right;
}

#genderButtons {
  margin: 10px 25px;
  width: 280px;
  padding: 16px 8px;
  position: relative;
  border: 3px #16ce15 solid;
  /*background: rgb(3,27,1, .6);*/
  background: rgb(13,66,8, .8);
  color: #00ff2b;
  float: left;
}

#genderRaceAgeSelection {
	  margin: 10px 25px;
  width: 280px;
  padding: 16px 8px;
  position: relative;
  border: 3px #16ce15 solid;
  /*background: rgb(3,27,1, .6);*/
  background: rgb(13,66,8, .8);
  color: #00ff2b;
  float: left;
}



.leftCol, .rightCol {
	margin: 0 auto;
	background-color: reed;
	width: 80px;
}


.leftCol {
	font-size: 30px;
	text-align: righdt;
}

.rightCol {
	text-align: left;
}



.prevNextButton:hover, .btnRandom:hover {
	color: #00d8ff;
	transition: color .3s;
}
.prevNextButton:active, .btnRandom:active {
	color: #FFF;
	font-size: 30px;
	transition: font-size color .3s;
}

.prevNextButton {
	width: 80px;
	font-size: 35px;
	cursor: url(Images/Cursors/pointer.png), auto;
}

.genderText, .btnRandom {
	font-size: 30px;
	font-family: monoFonto, futuraCondensedPT, 'Roboto Condensed', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.btnRandom {
	margin: 0 auto;
	padding: 8px 10px;
	/*border: 1px #16ce15 solid;*/
	cursor: url(Images/Cursors/pointer.png), auto;
}