@import 'mixins';

/*$arm_top: 65px;

$leg_top: 200px;

$headtorso_left: 43px;

$arm_upperhalf_top: 45px;

$arm_lowerhalf_top: 90px;
*/

#vaultSuit {
	margin: 25px;
	position: relative;
	width: 200px;
	height: 350px;
	
	//left: 500px;
	z-index: 60;
	opacity: 1;
	//border: black 1px solid;
	background: transparentize(#083d42, 0.2);
	float: left;
	background: white;
}

/*This is the Vault Suit limbs.*/
#vs_frontArm, #vs_head, #vs_torso, #vs_frontLeg, #vs_trunk, #vs_backLeg, #vs_backArm {
	position: absolute;
}

#vs_frontArm {
	top: $arm_top;
	z-index: 70;
}

#vs_head {
	left: $head_left;
	top: $head_top;
	z-index: 60;
}

#vs_torso {
	left: $torso_left;
	top: $torso_top;
	z-index: 50;
}

#vs_frontLeg {
	left: $frontleg_left;
	top: $leg_top;
	z-index: 40;
}

#vs_trunk {
	left: $trunk_left;
	top: $trunk_top;
	z-index: 30;
}

#vs_backLeg {
	left: $backleg_left;
	top: $leg_top - 10;
	z-index: 20;
}

#vs_backArm {
	top: $arm_top;
	left: $backarm_left;
	z-index: 10;
}


/* This is each piece of Vault Suit. */
.vs_frontarm_lowerhalf, .vs_frontarm_upperhalf, .vs_chest, .vs_fronthem, .vs_backhem, .vs_frontleg_upperhalf, .vs_frontleg_lowerhalf, .vs_frontleg_foot, .vs_crotch, .vs_backleg_upperhalf, .vs_backleg_lowerhalf, .vs_backleg_foot, .vs_backarm_lowerhalf, .vs_backarm_upperhalf {
	position: absolute;
}

/*.vs_frontarm_lowerhalf {
  	left: $frontarm_lowerhalf_left;
	top: $arm_lowerhalf_top;
	transform: scaleY(-1) rotate(85deg);
	z-index: 99;
}*/

/*.vs_frontarm_upperhalf {
  	top: $arm_upperhalf_top;
	transform: scaleY(-1) rotate(75deg);
	z-index: 1;
}*/

/*.vs_chest {
  	background-position: ($chest_x - $outfit_BDFH_x) $chest_y;
  	transform: scaleX(-1);
	z-index: 99;
}*/

.vs_fronthem {
	top: $hem_top;
	left: -27px;
 	background-position: ($chest_x - $outfit_BDFH_x) $chest_y;
 	transform: scaleX(-1);
	z-index: 50;
}

.vs_backhem {
	top: $hem_top;
	left: 55px;
  	background-position: ($chest_x - $outfit_BDFH_x) $chest_y;
  	transform: scaleX(-1);
	z-index: 1;
}

/*.vs_frontleg_upperhalf {
	transform: scaleY(-1) rotate(-90deg);
	z-index: 99;
}*/

/*.vs_frontleg_lowerhalf {
	top: $leg_lowerhalf_top;
	transform: scaleY(-1) rotate(-105deg);
	z-index: 50;
}*/

.vs_frontleg_foot {
	width: $foot_width;
  	height: $foot_height;
	/*left: $frontleg_foot_left;
	top: $foot_top;
	transform: scaleY(-1) rotate(180deg);
	z-index: 1;*/
}

/*.vs_crotch {
  	left: $crotch_left;
	top: $crotch_top;
	z-index: 1;
	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1);
}*/

/*.vs_backleg_upperhalf {
	transform: scaleY(-1) rotate(95deg);
	z-index: 99;
}*/

/*.vs_backleg_lowerhalf {
  	left: $leg_lowerhalf_left;
	top: $leg_lowerhalf_top;
	transform: scaleY(-1) rotate(-105deg);
	z-index: 50;
}*/

.vs_backleg_foot {
	width: $foot_width;
  	height: $foot_height;
	/*left: 22px;
	top: 95px;	
	-webkit-transform: scaleX(-1);
  	transform: scaleX(1) scaleY(-1) rotate(180deg);
  	z-index: 1;*/
}

/*.vs_backarm_lowerhalf {
	left: 17px;
	top: $arm_lowerhalf_top;
	transform: scaleY(1) rotate(70deg);
	z-index: 99;
}*/

/*.vs_backarm_upperhalf {
	top: 43px;
	transform: scaleX(-1) rotate(96deg);
	z-index: 1;
}*/

