@import 'mixins';


#vaultBoy {
	position: absolute;
	width: 500px;
	height: 500px;
	left: -8px;
	z-index: 50;
	opacity: 1;
}

/*This is Vault Boy's limbs.*/
#vb_frontArm, #vb_head, #vb_frontLeg, #vb_torso, #vb_trunk, #vb_backLeg, #vb_backArm {
	position: absolute;

}

#vb_frontArm {
	top: $arm_top;
	z-index: 69;
}

#vb_head {
	left: 43px;
	top: 7px;
	z-index: 59;
	  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#vb_torso {
	left: 47px;
	top: 85px;
	z-index: 49;
}

#vb_frontLeg {
	left: 28px;
	top: $leg_top;
	z-index: 39;
}

#vb_trunk {
	left: 47px;
	top: 85px;
	z-index: 29;
}

#vb_backLeg {
	left: 65px;
	top: $leg_top - 10;
	z-index: 19;
}

#vb_backArm {
	top: $arm_top;
	left: 74px;
	z-index: 9;
}

/* This is Vault Boy's skin. */
#outfit7_frontarm_upperhalf {
	top: $arm_upperhalf_top;
	position: absolute;
	transform: scaleY(-1) rotate(75deg);
	z-index: 1;
}

#outfit7_frontarm_lowerhalf {
	left: 7px;
	top: $arm_lowerhalf_top;
	position: absolute;
	transform: scaleY(-1) rotate(85deg);
	z-index: 99;
}

#outfit7_frontarm_handopen {
	left: 18px;
	top: $arm_hand_top;
	position: absolute;
	transform: scaleY(-1) rotate(-90deg);
	z-index: 50;
}

#outfit7_backarm_upperhalf {
	top: $arm_upperhalf_top;
	position: absolute;
	transform: scaleY(1) rotate(75deg);
	z-index: 1;
}

#outfit7_backarm_lowerhalf {
	left: 17px;
	top: $arm_lowerhalf_top;
	position: absolute;
	transform: scaleY(1) rotate(70deg);
	z-index: 99;
}

#outfit7_backarm_handopen {
	left: 29px;
	top: $arm_hand_top;
	position: absolute;
	transform: scaleX(-1) rotate(-90deg);
	z-index: 50;
}


#outfit7_frontleg_upperhalf {
	position: absolute;
	transform: scaleY(-1) rotate(-90deg);
	z-index: 99;
}

#outfit7_frontleg_lowerhalf {
	top: 55px;
	position: absolute;
	transform: scaleY(-1) rotate(-105deg);
	z-index: 50;
}

#outfit7_frontleg_foot {
	left: 11px;
	top: 95px;
	position: absolute;
	transform: scaleX(1) scaleY(-1) rotate(180deg);
	z-index: 1;

}

#outfit7_backleg_upperhalf {
	position: absolute;
	transform: scaleY(-1) rotate(95deg);
	z-index: 99;
}

#outfit7_backleg_lowerhalf {
	left: 5px;
	top: 55px;
	position: absolute;
	transform: scaleY(-1) rotate(-105deg);
	z-index: 50;
}

#outfit7_backleg_foot {
	left: 22px;
	top: 95px;
	position: absolute;
	
	z-index: 1;
	  -webkit-transform: scaleX(-1);
  transform: scaleX(1) scaleY(-1) rotate(180deg);
}


#outfit7_head {
	
}

#outfit7_chest {
	position: absolute;
	z-index: 99;
	  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#outfit7_crotch {
	left: 3px;
	top: 50px;
	position: absolute;
	z-index: 1;
	  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  
}





